<div class="panel-body">
  <form class="form-horizontal cab-form" role="form">
		<div class="form-group fixRowForm">
		  <label for="" class="col-sm-4 control-label">Alert Type</label>
		  <div class="col-sm-8">
		  	<input type="checkbox" id="datasource-haslabel">
		  </div>
		</div>
	</form>
</div>