<div class="well">Requirements: <br>
	<strong>option: className: 'dropdown-menu'</strong> <br><br>
	<button id="context-btn" class="btn btn-block btn-primary">Right Click Here</button>
	<button class="btn btn-block btn-primary" data-toggle="modal" data-target="#myModal">Modal</button>
  <button class="btn btn-block btn-primary" onclick="TogetherJS(this); return false;">Collaboration</button>
  <button id="naughty" class="btn btn-block btn-primary">Naughtify</button>
  <button id="popover" type="button" class="btn btn-primary btn-block" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Pop It Over</button>
</div>
