<div class="panel-body">
  <form class="form-horizontal cab-form" role="form">
  	<div class="form-group fixRowForm">
		  <label for="" class="col-sm-4 control-label">Striped</label>
		  <div class="col-sm-8">
		    <label class="checkbox-inline">
		      <input type="checkbox" value="yes" id="table-striped"> add zebra-striping
		    </label>
		  </div>
		</div>
    <div class="form-group fixRowForm">
		  <label for="" class="col-sm-4 control-label">Bordered</label>
		  <div class="col-sm-8">
		    <label class="checkbox-inline">
		      <input type="checkbox" value="yes" id="table-bordered"> borders on all sides and cells
		    </label>
		  </div>
		</div>
    <div class="form-group fixRowForm">
		  <label for="" class="col-sm-4 control-label">Hover Rows</label>
		  <div class="col-sm-8">
		    <label class="checkbox-inline">
		      <input type="checkbox" value="yes" id="table-hover"> hover state on table rows
		    </label>
		  </div>
		</div>
    <div class="form-group fixRowForm">
		  <label for="" class="col-sm-4 control-label">Condensed</label>
		  <div class="col-sm-8">
		    <label class="checkbox-inline">
		      <input type="checkbox" value="yes" id="table-condensed"> compact table cells
		    </label>
		  </div>
		</div>
    <div class="form-group fixRowForm">
		  <label for="" class="col-sm-4 control-label">Responsive</label>
		  <div class="col-sm-8">
		    <label class="checkbox-inline">
		      <input type="checkbox" value="yes" id="table-responsive"> make table responsive
		    </label>
		  </div>
		</div>
	</form>
</div>