<div class='panel-body'>
  <form class='form-horizontal cab-form' role='form'>
    <div class='form-group fixRowForm'>
      <label for='' class='col-sm-4 control-label'>Page Layout</label>
      <div class='col-sm-8'>
        <select id="form-page-layouts" class="form-control">
          <option value="full">Full Width</option>
          <option value="left-sidebar">Left Sidebar</option>
          <option value="right-sidebar">Right Sidebar</option>
          <option value="three-column">Three Columns</option>
          <option value="bottom-nav">Nav Bottom</option>
          <option value="top-nav">Nav Top</option>
          <option value="left-nav">Nav Left</option>
          <option value="right-nav">Nav Right</option>
        </select>
      </div>
    </div>

    <style type="text/css">
      #page-layout-preview img {
        height: 100%;
        width: 100%;
      }
      #page-layout-preview .tab-pane {
        padding: 10px 30px 10px 30px;
      }
    </style>

    <div class="tab-content" id="page-layout-preview">
      <div class="tab-pane active" id="full">
        <img src="images\page-layouts\layout-options-full-width.png">
      </div>
      <div class="tab-pane" id="left-sidebar">
        <img src="images\page-layouts\layout-options-left-sidebar.png">
      </div>
      <div class="tab-pane" id="right-sidebar">
        <img src="images\page-layouts\layout-options-right-sidebar.png">
      </div>
      <div class="tab-pane" id="three-column">
        <img src="images\page-layouts\layout-options-three-column.png">
      </div>
      <div class="tab-pane" id="bottom-nav">
        <img src="images\page-layouts\nav-options-bottom.png">
      </div>
      <div class="tab-pane" id="left-nav">
        <img src="images\page-layouts\nav-options-left.png">
      </div>
      <div class="tab-pane" id="right-nav">
        <img src="images\page-layouts\nav-options-right.png">
      </div>
      <div class="tab-pane" id="top-nav">
        <img src="images\page-layouts\nav-options-top.png">
      </div>
    </div>
    <div class='form-group fixRowForm'>
      <label for='' class='col-sm-4 control-label'>Sidebar Page</label>
      <div class='col-sm-8'>
        <select id="form-sidebar-page" class="form-control">
          <option>Custom</option>
          <option>Timeline</option>
          <option>Timeline</option>
        </select>
      </div>
    </div>
    <div class='form-group fixRowForm'>
      <label for='' class='col-sm-4 control-label'>Sidebar Hidden</label>
      <div class='col-sm-8'>
        <select id="form-sidebar-hidden" class="form-control">
          <option>Always Visible</option>
          <option>Mobile</option>
          <option>Tablet</option>
          <option>Desktop</option>
          <option>Tablet & Below</option>
        </select>
      </div>
    </div>
    <div class='form-group fixRowForm'>
      <label for='' class='col-sm-4 control-label'>Main Content Hidden</label>
      <div class='col-sm-8'>
        <select id="form-main-hidden" class="form-control">
          <option>Always Visible</option>
          <option>Mobile</option>
          <option>Tablet</option>
          <option>Desktop</option>
          <option>Tablet & Below</option>
        </select>
      </div>
    </div>
  </form>
</div>