<div class="panel-body">
  <form class="form-horizontal cab-form" role="form">
  	<div class="form-group fixRowForm">
		  <label for="" class="col-sm-4 control-label">Style</label>
		  <div class="col-sm-8">
		    <label class="radio">
		      <input name="imageStyle" type="radio" value="option1" id="img-rounded" class="imageStyle"> Rounded
		    </label>
        <label class="radio">
		      <input name="imageStyle" type="radio" value="option1" id="img-circle" class="imageStyle"> Circle
		    </label>
		  </div>
		</div>
    <div class="form-group fixRowForm">
		  <label for="" class="col-sm-4 control-label">Bordered</label>
		  <div class="col-sm-8">
		    <label class="checkbox-inline">
		      <input type="checkbox" value="option1" id="img-thumbnail"> add border
		    </label>
		  </div>
		</div>
    <div class="form-group fixRowForm">
		  <label for="" class="col-sm-4 control-label">Responsive</label>
		  <div class="col-sm-8">
		    <label class="checkbox-inline">
		      <input type="checkbox" value="option1" id="img-responsive"> responsive-friendly
		    </label>
		  </div>
		</div>
		<div class="form-group fixRowForm">
		  <label for="" class="col-sm-4 control-label">Button Type</label>
		  <div class="col-sm-8">
		    <select class="form-control input-sm" placeholder="" id="button-type">
		    	<option value="btn-default">default</option>
		    	<option value="btn-success">success</option>
		    	<option value="btn-primary">primary</option>
		    	<option value="btn-info">info</option>
		    	<option value="btn-warning">warning</option>
		    	<option value="btn-danger">danger</option>
		    </select>
		  </div>
		</div>
		<div class="form-group fixRowForm">
		  <label for="" class="col-sm-4 control-label">Button Size</label>
		  <div class="col-sm-8">
		    <select class="form-control input-sm" placeholder="" id="button-size">
		    	<option value="btn-xs">extra small</option>
          <option value="btn-sm">small</option>
		    	<option value="btn-md">medium</option>
		    	<option value="btn-lg">large</option>
		    </select>
		  </div>
		</div>
		<div class="form-group fixRowForm">
		  <label for="" class="col-sm-4 control-label">Button Block</label>
		  <div class="col-sm-8">
		    <label class="checkbox-inline">
		      <input type="checkbox" value="option1" id="button-block"> Display as block element
		    </label>
		  </div>
		</div>
	</form>
</div>