<div class='panel-body control-property-container'>
  <!--<form class='form-horizontal cab-form' role='form'>
    <div class='form-group fixRowForm'>
      <label for='' class='col-sm-4 control-label'>Dropdown Options</label>
      <div class='col-sm-8'>
        <input type='text' class='form-control input-sm' placeholder='' id='static-item'>
      </div>
    </div>

    <div class="static-list-container">
      <ul id="static-list">
      </ul>

    </div>


  </form>-->
</div>
