#cab-design {
	.h100p();

	.tab-pane {
		.h100p();
	}
	.empty {
		background: #FFF url(http://placehold.it/600x300/ffffff/CCCCCC/&text=Drop%20your%20widgets%20or%20controls%20here) center center no-repeat;
	}

	.form-container-settings {
		cursor: pointer;
	}

	//added
	[data-control="datasource"] {
		height: 30px;
		border-bottom: 1px solid #ececec!important;
	}

	[cab-control="true"] {
		margin-bottom: 10px;
		border: dashed 1px @white;
		position: relative;
	}
	.cab-active {
		border: solid 1px @blue;
		 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
		&.focus > .cab-control-actions,
		&.focus > .cab-control > .cab-control-actions {
			opacity: 1!important;
		}
		.cab-control-actions {
			opacity: 0.3!important;
		}
	}
	.cab-control-actions {
		transition: all 0.5s ease;
		position: absolute;
		top: 0px;
		right: 1px;
		z-index: 100;
		opacity: .25;

		.cab-move {
			cursor: move;
		}

		.deleteControlBtn {
			cursor: pointer;
		}
	}
	.after {
		border-bottom: 1px dashed @blue;
		border-right: 1px dashed @blue;
		border-radius: 0px 0 4px 0;
		color: @blue;
		font-size: 12px;
		font-weight: bold;
		left: 0px;
		padding: 3px 7px;
		position: absolute;
		top: 0px;
	}

	[data-control="container"],
	[data-control="data_container"] {
		position: relative;
		padding: 45px 30px 15px;
		min-height: 100px;
		background: @white;
		border: dashed 1px @blue;
		margin-bottom: 0px!important;

		> .cab-control-actions {
			opacity: 1!important;
		}

		&:after {
			content: "Container";
			.after;
		}

		[data-widget] {
			> [data-control="container"] {

				&:after {
					content: "Widget"!important;
					.after;
				}
				> [data-control] {
					pointer-events: none;
				}
			}
		}
	}
	[data-control="container"] {
		.empty();
		background-size: auto;
		[data-control="row"] {
			.row.cab-control {
				position: relative;
				padding: 30px 15px 15px;
				min-height: 100px;
				border: dashed 1px @blue;
				display: table;
				width: 100%;
				margin: 0px auto 0px;
				background-color: #EEE;

				&:after {
					content: "Row";
					.after;
				}
				.col {
					position: relative;
					padding: 30px 15px 0px;
					min-height: 100px;
					border: dashed 1px @blue;
					background-color: @white;
					margin: 0px!important;

					&:after {
						content: "Column";
						.after;
					}

					.empty();
				}
			}
		}
		&.menu-page {
			background-image: none!important;
		}
	}

	[data-control="widget"] {
		position: relative;
		padding: 45px 30px 15px;
		min-height: 100px;
		background: @white;
		border: dashed 1px @blue;
		margin-bottom: 0px!important;

		&:after {
			content: "Widget";
			.after;
		}
	}
	[data-control="row"] {

		.cab-control {
			> .row-dashed {
				border: 1px dotted;
				min-height: 20px;
			}
		}
	}
	[data-control="col"] {
		position: relative;
		padding: 30px 15px 0px;
		min-height: 100px;
		border: dashed 1px @blue;
		background-color: @white;
		margin: 0px!important;

		&:after {
			content: "Column";
			.after;
		}
	}
	[data-control="form"] {
		position: relative;
		padding: 30px 15px 15px;
		min-height: 100px;
		border: dashed 1px @blue;

		&:after {
			content: "Form";
			.after;
		}
	}
	[data-control="panel"] {
		position: relative;
		padding: 30px 15px 15px;
		border: dashed 1px @blue;

		&:after {
			content: "Panel";
			.after;
		}
	}
	[data-control="form-group"] {
		position: relative;
		padding: 30px 10px 10px;
		border: dashed 1px @blue;

		&:after {
			content: "Form Group";
			.after;
		}
	}
	[data-control="header"],
	[data-control="badge"],
	[data-control="small"],
	[data-control="table"],
	[data-control="grid"],
	[data-control="well"],
	[data-control="button"],
	[data-control="paragraph"],
	[data-control="label"],
	[data-control="input"],
	[data-control="datasource"],
	[data-control="alert"],
	[data-control="inputgroup"],
	[data-control="textarea"] {
		margin-bottom: 0px;
		> .cab-control-actions {
			top: -23px;
			right: -2px;
			opacity: 0;
			padding-bottom: 2px;
		}
	}
	.ui-state-highlight {
		opacity: 0.5;
		position: relative;
		border: dashed 1px @blue;
		display: block;

		i {
			visibility: hidden;
		}

		.cab-control-actions {
			display: none;
		}
	}
	
	.popover {
		max-width: none;
		
		.arrow {
		}
		.popover-content {
			padding: 5px;
		}
	}
}
