#cab-panel {
	overflow: hidden;

	> div {
		.h100p();
	}

	.cab-panel-body {
		padding: 15px;
		height: 100%!important;

		#cab-design {
			overflow: auto;
			margin: 0px auto;
			//box-shadow: 0px 5px 15px rgba(0,0,0,.25);
		}
		@-moz-document url-prefix() {
			#cab-design {
				margin-bottom: 25px!important;
			}
		}
		#cab-design > .tab-pane {
			margin: 0px auto;
			border-radius: 15px;
			background-color: #FFF;
			padding: 15px;
			overflow-y: auto;
		}
		#cab-design[data-view="desktop"] > .tab-pane.design-view {
			width: 100%;
			padding: 0px;
		}
		#cab-design[data-view="laptop"] > .tab-pane.design-view {
			width: 1386px!important;
			height: 818px!important;
			border: solid 25px #000;
			padding: 0px;
		}
		#cab-design[data-view="tablet-landscape"] > .tab-pane.design-view {
			width: 1174px!important;
			height: 918px!important;	
			border: solid 75px #000;
			padding: 0px;
		}
		#cab-design[data-view="tablet-portrait"] > .tab-pane.design-view {
			width: 918px!important;
			height: 1174px!important;
			border: solid 75px #000;
			padding: 0px;
		}
		#cab-design[data-view="mobile-landscape"] > .tab-pane.design-view {
			width: 698px!important;
			height: 350px!important;
			border-left: solid 60px #000;
			border-top: solid 15px #000;
			border-right: solid 70px #000;
			border-bottom: solid 15px #000;
			padding: 0px;
		}
		#cab-design[data-view="mobile-portrait"] > .tab-pane.design-view {
			width: 350px!important;
			height: 698px!important;
			border-top: solid 60px #000;
			border-right: solid 15px #000;
			border-bottom: solid 70px #000;
			border-left: solid 15px #000;
			padding: 0px;
		}
		.previewPointerDisable {
			pointer-events: none!important;
		}
	}
	.cab-panel-body.split-view {
	}
}

