body.cab-dashboard {
	background-color: #FFF;	
	.navbar {
		.nav {
			li.active a {
				background-color: #FFF!important;
			}
		}
	}
	h3 {
		color: #000!important;
	}
	.layer1 {
		background: url(../images/layer1.png) no-repeat center top;
		height: 83px;
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		z-index:100;
	}
	.layer2 {
		background: url(../images/layer2.png) no-repeat right top;
		height: 115px;
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		z-index: 50;
	}
	.content {
		position: relative;
		z-index: 75;
	}
	#sen-container {
		background: url(../images/bg-welcome.png) repeat-x center top;
		position: relative;
		height: 100%;
		overflow: hidden;
		
		#newProjectWrap {
			margin: 0px auto;
			width: 354px;
			img {
				margin-bottom: 25px;
			}
		}
	}
	.cab-projects {
		padding-left: 0px;
		li, li a {
			font-size: 18px;
		}
	}
	#dashboard-container {
		padding: 150px 100px 100px;
		.cab-nav-pills {
			margin-bottom: 30px;
			li a {
				padding: 10px 25px;
			}
			li a:hover {
				background-color: fade(@blue, 50%);
				color: #FFF;
			}
			li.active a {
				background-color: @blue;
			}
		}
		.tab-content {
			padding: 0px 25px;
		}
		#projcontent {
			h4 {
				overflow: visible;
			}
		}
	}
}