#cab-footer {
	height: 40px;
	.navbar {
		height: 40px;
		min-height: 40px;
		margin: 0px;
		border: none;
		border-radius: 0px;
		background-color: @primary_dark;
		
		ul.navbar-nav {
			li a {
				padding-top: 10px;
				padding-bottom: 10px;
				font-size: 12px;
			}
		}
	}
	.navbar-text {
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 12px;
	}
}