#cab-header {
	.navbar {
		margin: 0px;
		border: none;
		border-radius: 0px;
		
		.navbar-header {
			min-width: 16.666666666666664%;
			margin-right: 1px;
			
			.cab-logo {
				padding: 0px;
			}
			.navbar-brand {
				height: auto;
				padding: 15px;
			}
		}
		.navbar-nav.navbar-right {
			margin: 0px;
		}
		.nav-tabs {
			border: none;
		}
		.navbar-nav {
			li.cab-project a {
				font-size: 18px;
			}
			li.cab-avatar a {
				padding: 7px 15px;
				img {
					border-radius: 50%;
					width: 36px;
					height: 36px;
				}
				.caret {
					margin-left: 15px!important;
				}
			}
			li {
				a {
					border: none;
					border-radius: 0px;
					padding: 15px 25px;
					@media (min-width: 1200px) {
						span {
							display: inline!important;
						}
					}
					i.remove-pane {
						margin-left: 5px;
					}
				}
			}
			li.dropdown ul.dropdown-menu {
				padding: 0px;
				border: none;
				border-radius: 0px;
				
				li.divider {
					height: 1px;
					margin: 0;
					overflow: hidden;
				}
				li a {
					padding: 10px 20px;
				}
			}
		}
	}
}