@side_w: 16.666666666666664%; /* col-sm-2 */
@main_w: 66.66666666666666%; /* col-sm-8 */
#cab-header {
	.container-fluid {
		min-width: @min_width!important;
		max-width: none!important;
	}
}
#cab-container {
	min-width: @min_width!important;
	max-width: none!important;
	height: ~"calc(100% - 50px)";
	> div {
		.h100p();
	}

	#cab-container-left > .cab-panel > div,
	#cab-container-middle > .cab-panel > div,
	#cab-container-right > .cab-panel > div {
		height: 100%;
	}

	#cab-container-left {
		width: @side_w;
		.trasition_all();

		#module-widgets-options {
			margin-bottom: 10px;
		}
	}
	#cab-container-middle {
		.trasition_all();
		width: @main_w;

		.cab-toggle-panel {
			position: absolute;
			top: ~"calc(50% - 34px)";
			border-radius: 5px;
			z-index: 1000;
			opacity: .5;
			transition: opacity 0.25s ease;

			&:hover {
				opacity: 1;
			}

			a {
				outline: none;
			}
			a:hover {
				color: @light;
			}

			&.left {
				left: -1px;				
				a {
					padding: 6px 6px 6px 2px;
					border-top-left-radius: 0px!important;
					border-bottom-left-radius: 0px!important;
				}
			}
			&.right {
				right: -1px;				
				a {
					padding: 6px 2px 6px 6px;
					border-top-right-radius: 0px!important;
					border-bottom-right-radius: 0px!important;
				}
			}
		}

		#cab-panel {
			> div {
				.h100p;
			}
			#cab-design {
				.h100p;
				> .tab-pane {
					.h100p;
					> div {
						.h100p;
						> .ace_editor {
							.h100p;
						}
					}
				}
			}
		}

		[data-aura-component='canvas-ace'] {
			.h100p;
			> div {
				.h100p;
				> div {
					.h100p;
				}
			}
		}
	}
	#cab-container-right {
		width: @side_w;
		.trasition_all();
	}
	&.hide_left {
		overflow: hidden;
		#cab-container-left {
			width: 0px;
			* {
				display: none;
			}
		}
		#cab-container-middle {
			width: @main_w + @side_w;
			padding-left: 0px;
		}
		#cab-container-right {
			width: @side_w;
		}
	}
	&.hide_right {
		overflow: hidden;
		#cab-container-left {
			width: @side_w;
		}
		#cab-container-middle {
			width: @main_w + @side_w;
			padding-right: 0px;
		}
		#cab-container-right {
			width: 0px;
			* {
				display: none;
			}
		}
	}
	&.hide_right.hide_left {
		overflow: hidden;
		#cab-container-left {
			width: 0px;
		}
		#cab-container-middle {
			width: @main_w + @side_w + @side_w;
			padding: 0px;
		}
		#cab-container-right {
			width: 0px;
		}
	}
}
.cab-panel {
	margin: 0px;
	border: none;
	border-radius: 0px;
	box-shadow: none;
	.h100p;
	.cab-panel-heading {
		border: none;
		height: 50px;
		border-radius: 0px;
		padding: 8px 10px 12px;
		.laptopFix();
	}
	.cab-panel-heading-tab {
		.laptopFix();
	}
	.cab-panel-heading-toolbar {
	}
	.cab-panel-body {
		padding: 10px 10px 0px;
		overflow: auto;
		height: ~"calc(100% - 100px)"
	}
	.cab-nav-tabs {	
		li {	
			a {
				.trasition_all();
				padding: 15px 0px 14px!important;
				border: none!important;
				border-radius: 0px!important;
				margin: 0px;
				text-align: center;
				text-decoration: none!important;
			}
		}
	}
}
.cab-accordion {
	margin-bottom: 0px;
	.h100p();
	> .panel {
		.h100p();

		border-radius: 0px;
		border: none;
		margin: 0px 0px 1px!important;

		.panel-heading {
			padding: 12px 15px 13px 15px!important;
			border-radius: 0px;
			border: none;

			.panel-title {
				font-weight: 300;
				cursor: pointer;
				text-decoration: none!important;
			}
		}
		.panel-collapse {
			.panel-body {
				border: none;
				overflow: auto;
				hr {
					margin: 20px -15px 15px;
				}
			}
		}
	}
	&.dark {
		> .panel {
			background-color: transparent;
			> .panel-collapse {
				.panel-body {
					background-color: transparent;
					margin: 0px -5px;
					hr {
						margin: 0px 0px 15px!important;
					}
				}
			}
		}
	}
}