@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,400italic,700italic);
@import "classes.less";
@import "layout.less";
@import "header.less";
@import "canvas.less";
@import "canvas-design.less";
@import "module.less";
@import "module-project.less";
@import "module-core.less";
@import "module-view.less";
@import "module-widget.less";
@import "toolbox.less";
@import "toolbox-control.less";
@import "toolbox-event.less";
@import "toolbox-platform-controls.less";
@import "toolbox-properties.less";
@import "footer.less";
@import "dashboard.less";
@import "toolbar.less";
@import "login.less";
@import "modal.less";
@import "loading.less";
@import "theme-light.less";
@import "theme-dark.less";

@primary_dark: #1D2028;
@primary_dark_invert: #798795;
@primary_gray: #93969f;
@light_gray: #999;
@light: #f5f5f5;
@dark: #333;
@dark_text: #777;
@blue: #2da1ec;
@dark_blue: #2c3e50;
@dark_blue_invert: #798795;
@white: #FFF;
// CAB COLOR
@cablue: rgb(0, 153, 255);
// DARK FORM CONTROL VARS
@form_border: #333;
@form_bg: #000;
@form_color: #666;
@min_width: 1280px;

html {
	.h100p();
}
body {
	.lato;
	font-weight: 300;
	min-width: @min_width!important;
	background: url(../images/loading.gif) no-repeat center center;
}
h1, h2, h3, h4, h5, h6 {
	.lato;
	font-weight: 300;
	margin-top: 0px;
}
a {
	.trasition_all();
	color: @cablue;
}
a:hover {
	color: darken(@cablue, 5%);
}
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
::-webkit-scrollbar-button {
}
::-webkit-scrollbar-track {
	background: #CCC;
}
::-webkit-scrollbar-track-piece {
}
::-webkit-scrollbar-thumb {
	background: @blue;
}
::-webkit-scrollbar-corner {
}
::-webkit-resizer {
}
.ui-draggable-dragging {
	background-color: transparent!important;
	;
}
.dropdown-menu {
	> li {
		> span {
			display: block;
			padding: 3px 20px;
			clear: both;
			font-weight: 400;
			line-height: 1.428571429;
			color: #333;
			white-space: nowrap;
			cursor: pointer;
		}
		> span:hover {
			color: #262626;
			text-decoration: none;
			background-color: #f5f5f5;
		}
	}
	.context-menu-separator {
		height: 1px;
		margin: 9px 0;
		overflow: hidden;
		background-color: #e5e5e5;
	}
}
#cab-popup {
	position:fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.75);
	top: 0px;
	left: 0px;
	z-index: 9999999999;
	opacity: 1;
	.trasition_all();
	
	> div {
		height: 100%;
	}
	&.hidden {
		opacity: 0;
		visibility: hidden!important;
		display: block!important;
	}
	
	#popup {
		background-color: #FFF;
		height: 200px;
		overflow: auto;
		margin: auto;
		padding: 50px 0px;
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		
		#popup-heading {
			#popup-title {
				margin-bottom: 15px;
			}
		}
		
		.btn {
			padding: 10px 25px;
		}
	}
}