.cab-modal {
	.modal-dialog {
		.modal-content {
			border-radius: 0px;

			.modal-header {

				button.close {
				}
				.modal-title {
				}
			}
			.modal-body {
				padding: 15px;
				hr {
					border-top: 1px solid #e5e5e5;
					margin: 0px -15px 15px;
				}
			}
			.modal-footer {
				padding: 14px 15px 15px;
				margin: 0px;
			}
		}
	}
	.modal-fs {
		width: 100%;
		height: 100%;
		margin: 0px;

		.modal-content {
			height: 100%;

			.modal-body {
				height: ~"calc(100% - (56px + 64px ))";
				overflow: auto;
			}
			.modal-footer {
				margin: 0px;
			}
		}
	}
	.modal-lg {
	}
	.modal-sm {
	}
	.cab-fa-icons {
		padding: 15px 0px;
	}
	[data-aura-component="header-mashable-datasource"] {
		.tab-content {
			padding: 15px 15px 0px;
		}
		#response-schema {
			border-radius: 0px;
			min-height: 100px;
			margin: 0px -15px;
			pre {
				min-height:100px;
				margin-bottom: 0px;
				border-radius: 0px;
			}
		}
	}
	[data-aura-component="dashboard-new-project"] {
		.modal-dialog {
			.modal-content {
				.modal-header {
					background-color: #f5f5f6;
					padding-bottom: 0px;
					.nav-tabs {
						border: none;
						margin-bottom: -1px;
						li a {
							border: none;
							background-color: transparent;
							background-repeat: no-repeat;
							background-position: bottom center;
							color: @light_gray;
							padding-bottom: 25px;
						}
						li a:hover {
							color: @blue;
						}
						li.active a {
							background-image: url(../images/cab-arrow-up.png);
							color: @blue;
						}
					}
				}
				.modal-body {
					padding: 25px;
				}
			}
		}
		#app {
			.cab-thumb-wrapper {
				padding: 25px 80px;
			}
		}
		#theme {
			.cab-thumb-wrapper {
				padding: 25px 30px;
			}
		}
		.cab-thumb-wrapper {

			.thumbnail {
				padding: 0px;
				margin: 0px;
				border: solid 5px #FFF;
				border-radius: 4px;
				position: relative;

				&:hover {
					border-color: lighten(@blue, 10%);
					background: lighten(@blue, 10%);
				}

				&.active {
					border-color: @blue!important;
					background: @blue!important;
				}

				img {
				}
				.caption {
					padding: 5px;
					position: absolute;
					bottom: 0px;
					width: 100%;
					background: rgba(0,0,0,.5);
					text-align: center;
					color: #FFF;
					visibility: hidden;
					.trasition_all();
				}
			}
			.thumbnail:hover {
				.caption {
					visibility: visible;
				}
			}

			.carousel {
				.carousel-indicators {
				}
				.carousel-inner {
					padding-bottom: 5px;
				}
				.carousel-control {
					background: none;
					color: @primary_gray;
					text-shadow: none;
					top: 40%;
					bottom: auto;

					width: 100px;
					&.left {
						left: -100px;
					}
					&.right {
						right: -100px;
					}
				}
			}
		}
	}
	#theme {
		.nav-tabs {
			border: none;
			margin: 0px -25px;
			padding: 5px 25px 0px;
			background-color: @light;

			li a {
				border: none;
				border-radius: 0px;
			}
		}
		.tab-content {
			padding: 25px;
			.tab-pane {
			}
		}
	}
}

#myModal {
  transform-style: preserve-3d;
  transition: transform 1s;
  overflow: hidden;
}

#myModal.flip {
  transform: rotateY(180deg);
}