#cab-panel-left {
	
}
body[data-project-type="app"] {
	#cab-panel-left {
		.cab-panel-heading-tab .cab-nav-tabs {
			a[href="#module-widgets"] {
			}
		}
		.cab-panel-body .tab-content {
			#module-widgets {
			}
		}
	}
}
body[data-project-type="widget"] {
	#cab-panel-left {
		.cab-panel-heading-tab .cab-nav-tabs {
			a[href="#module-project"],
			a[href="#module-core"] {
				display: none!important;
			}
		}
		.cab-panel-body .tab-content {
			#module-project,
			#module-core {
				display: none!important;
			}
		}
	}
}