#module-project {
	.cab-tree {
		ol li {
			list-style: none;
		}
		ol li.ui-sortable-placeholder {
			visibility: visible!important;
			min-height: 40px;
			border: dotted 2px @blue;
		}
		ol li.ui-sortable-helper {
			opacity: .5!important;
		}
		> ol {
			padding: 0px;
			li ol {
				padding-left: 30px;
			}
		}
		> ol > li > ol {
			padding: 0px;
			> li {
				.panel {
					.panel-heading {
						position: relative;
						padding-left: 45px;
						&:before {
							transform: rotate(90deg);
							-ms-transform: rotate(90deg); /* IE 9 */
							-webkit-transform: rotate(90deg); /* Safari and Chrome */
							content: "\f148";
							font-family: FontAwesome;
							font-style: normal;
							font-weight: normal;
							text-decoration: inherit;
							font-size: 18px;
							padding-right: 0.5em;
							position: absolute;
							top: 12px;
							left: 15px;
						}
					}
					.panel-collapse .panel-body {
						padding-left: 30px;
					}
				}
				> ol {
					padding: 0px;
					> li {
						.panel {
							.panel-heading {
								padding-left: 75px;
								&:before {
									left: 45px;
								}
							}
							.panel-collapse .panel-body {
								padding-left: 0px;
							}
						}
					}
				}
			}
		}

		.panel {
			border: none;
			border-radius: 0px;
			box-shadow: none;
			margin-bottom: 1px;

			.panel-heading {
				padding: 12px 15px 13px 15px;
				border-radius: 0px;
				border: none;

				.panel-title {
					cursor: pointer;
				}
			}
			.panel-collapse .panel-body {
				padding: 0px;
				a {
					text-decoration: none;
				}
			}
			.panel {
				.panel-heading {
					background-color: transparent;
					padding: 12px 15px 13px 15px;
					&:before {
						display: none;
					}

					.panel-title {
					}
				}
				.panel-collapse .panel-body {
					padding: 0px 15px 15px;
				}
			}
		}
	}
}