body.theme-dark {

	// COLORS
	@primary_color: #1d2028;
	@border_color: #1d2028;
	
	@main_bg: #1d2028;
	
	@header_bg: @primary_color;
	@header_color: #798795;
	
	@header_active_bg: #FFF;
	@header_active_color: #333;
	
	@header_hover_bg: #282b35;
	@header_hover_color: #798795;
	
	@panel_heading_bg: #2c3e50;
	@panel_heading_color: #798795;
	
	@panel_tab_bg: #000;
	@panel_tab_color: #555;
	
	@panel_tab_hover_bg: @primary_color;
	@panel_tab_hover_color: #999;
	
	@panel_tab_active_bg: @primary_color;
	@panel_tab_active_color: #798795;
	
	@panel_body_bg: @primary_color;
	@panel_body_color: #777;
	
	@accordion_heading_bg: #2c3e50;
	@accordion_heading_color: #798795;
	
	@accordion_body_bg: #333;
	@accordion_body_color: #777;
	
	@input_bg: #000;
	@input_color: #999;
	@input_border: #000;
	
	@text_color: #777;
	@link_color: #777;
	.link_hover {
		color: #CCC;
	}
	
	/*
	@primary_bg
	@primary_color
	@primary_border*/

	#cab-header {
		.cab-logo {
			width: 47px;
			height: 36px;
			margin: 7px 14px;
			background-image: url(../images/theme-light/cab-logo.png);
			display: block;
		}
		.navbar {
			background-color: @header_bg;
			color: @header_color;
			.nav {
				li a {
					background-color: header_bg;
					color: @header_color;
				}
				li a:hover {
					background-color: @header_hover_bg;
					color: @header_hover_color;
				}
				li.active a {
					background-color: @header_active_bg;
					color: @header_active_color;
				}
			}
			li.dropdown ul.dropdown-menu {
				li a {
				}
				li a:hover {
					background-color: @header_hover_bg;
					color: @header_hover_color;
				}
			}
			li.dropdown.open a {
				background-color: @header_active_bg;
				color: @header_active_color;
			}
		}
	}
	#cab-container-left,
	#cab-container-right {
		.cab-panel {
			background-color: @panel_body_bg;
			color: @text_color;
			
			.cab-panel-heading {
				background-color: @panel_heading_bg;
				border-bottom: solid 1px @border_color;
			}		
			.cab-nav-tabs {
				background-color: @panel_tab_bg;
	
				li a {
					background-color: @panel_tab_bg;
					color: @panel_tab_color;
					border-bottom: solid 1px @border_color!important;
					font-weight: normal;
				}
				li a:hover {
					background-color: @panel_tab_hover_bg;
					color: @panel_tab_hover_color;
				}
				li.active {
				}
				li.active a {
					background-color: @panel_tab_active_bg;
					color: @panel_tab_active_color;
					border-bottom: solid 1px @panel_tab_active_bg!important;
					border-left: solid 1px @border_color!important;
					border-right: solid 1px @border_color!important;
				}
				li.active:first-child a {
					border-left: none!important;
				}
				li.active:last-child a {
					border-right: none!important;
				}
			}
		}
		a {
			color: @link_color;
		}
		a:hover {
			.link_hover();
		}
	}
	#cab-container-middle {
		//border-left: solid 1px  @border_color;
		//border-right: solid 1px  @border_color;
		
		.cab-toggle-panel {
			a {
				background-color: @primary_color;
				color: @text_color;
			}
		}	
		.cab-panel {
		}
	}
	.cab-tree {
		ol li.ui-sortable-placeholder {
			border: dotted 2px @primary_color;
		}
		ol li.ui-sortable-helper {
		}
		> ol > li > ol {
			> li {
				.panel {
					.panel-heading {
						&:before {
							color: @accordion_heading_color;
						}
					}
					.panel-collapse .panel-body {
					}
				}
				> ol {
					> li {
						.panel {
							.panel-heading {
								&:before {
								}
							}
							.panel-collapse .panel-body {
							}
						}
					}
				}
			}
		}
		.panel {
			background-color: transparent;
			
			.panel-heading {
				background-color: @accordion_heading_bg;
				.panel-title {
					cursor: pointer;
					color: @accordion_heading_color;
					font-weight: 400;
				}
			}
			.panel-collapse .panel-body {
				background-color: @accordion_body_bg;
				a {
					color: @panel_body_color;
				}
			}
			.panel {
				.panel-heading {
					&:before {
					}
					.panel-title {
						color: @panel_body_color;
					}
				}
				.panel-collapse .panel-body {
					background-color: transparent;
				}
			}
		}
	}
	.cab-accordion {
		> .panel {
			background-color: transparent;
			> .panel-heading {
				background-color: @accordion_heading_bg;
				.panel-title {
					color: @accordion_heading_color;
					font-weight: 400;
				}
			}
			> .panel-collapse {
				.panel-body {
					background-color: @accordion_body_bg;
					
					hr {
						border-color: @border_color;
					}
				}
			}
		}
	}
	#cab-container-right {
		.cab-accordion {
			.panel {
				.panel-collapse {
					.panel-body {
						background-color: transparent;
					}
				}
			}
		}
	}
	.cab-list-group {
		> a {
			background-color: #333;
			color: #777;
		}
		> a:hover {
			background-color: #3f3f3f;
			color: #777;
		}
	}
	.cab-form {
		.control-label {
			font-weight: 300;
		}
		.form-control,
		.btn {
			box-shadow: none;
			outline: none;
			color: @input_color;
			border-radius: 0px;
		}
		input[type=text],
		select {
			background-color: @input_bg;
			border: solid 1px @input_border;
		}
		.btn {
			background-color: @input_bg;
			border: solid 1px @input_border;
		}
	
		.borderized {
			input[type=text] {
				padding-left: 0px;
				padding-right: 0px;
			}
			div:nth-of-type(1) {
				input[type=text] {
					border: solid 2px @input_color!important;
				}
			}
			div:nth-of-type(2) {
				input[type=text] {
					border-top: solid 2px @input_color!important;
				}
			}
			div:nth-of-type(3) {
				input[type=text] {
					border-right: solid 2px @input_color!important;
				}
			}
			div:nth-of-type(4) {
				input[type=text] {
					border-bottom: solid 2px @input_color!important;
				}
			}
			div:nth-of-type(5) {
				input[type=text] {
					border-left: solid 2px @input_color!important;
				}
			}
		}
	}
	.control-label, label {
		color: @text_color;
	}
}