#toolbox-controls {
	.cab-list-group {
		margin: -15px;
		
		> a {
			border: none;
			border-radius: 0px;
			margin: 0px;
			cursor: move;
			margin-top: 1px;
		}
	}
	#control-popover-content {
		display: none;
	}
	.popover {
		h3.popover-title {
		}
		.popover-content {
			min-width: 220px;
			> div, > table {
				margin: 0px;
			}
		}
	}
}
