#toolbox-properties {
	.fixRowForm {
		margin: 0px -5px;
		
		> div, > .control-label {
			padding-left: 5px;
			padding-right: 5px;
		}
		&.form-group {
			margin-bottom: 10px;
		}
	}
	.panel {
		overflow: visible;
		
		.panel-heading {
			.panel-title {
			}
		}
		.panel-collapse .panel-body {
			overflow: visible;
			padding: 10px 0px 0px;
			hr {
				margin: 20px 0px 10px;
			}
		}
	}
	#box-properties {
		.customRow {
			margin: 0px -4px;
			.customCol {
				width: 20%;
				float: left;
				padding: 4px;
			}
		}
		.fixRowForm {
			margin-bottom: 5px;
		}
		.panel-body {
			padding-bottom: 5px;
		}
	}
}