///*MIXIN*/
//@black: #272822;
//@red: #842210;
//@margin-lft: 20px;
//@light_gray: #999;
//@primary_gray: #93969f;
//@dark_blue: #2c3e50;
//@blue: #2da1ec;
//
//
//.rounded-corners (@radius: 20px) {
//	-webkit-border-radius: @radius;
//	   -moz-border-radius: @radius;
//	   	 -o-border-radius: @radius;
//	   	 	border-radius: @radius;
//}
//
//.shape {
//	display:inline-block;
//    width:200px;
//    height:200px;
//    background:#ddf;
//    border-color: @red;
//    border-style: solid;
//    .rounded-corners;
//}
//
//
//
//.strong {
//	font-weight: bold;
//}
//
//.em {
//	font-style: italic;
//}
//
//.center-block {
//	display: inline-block;
//	/*margin-right: auto;
//	margin-left: auto;*/
//	vertical-align: middle;
//}
//
//.ul {
//	text-decoration:underline;
//}
//
//.justify {
//	text-align: justify;
//}
//
//.strikethrough {
//	text-decoration:line-through;
//}
//
//.btn-active{
//	border: 5px solid @blue;
//}
//
//.btn-add-link {
//	color: @blue;
//}
//
//#text-tool-container #image-tool-container{
//	a {
//		width: 50px;
//		height: 30px;
//		background-color: @primary_gray;
//		border-color: @black;
//	}
//}
//
//.popover {
//	padding-left: 2px;
//	padding-right: 2px;
//	padding-top: 0px;
//	max-width: 937px;
//	height: 55px;
//	background-color: @dark_blue;
//	.arrow {
//		background-color: dark_blue;
//	}
//}
//
//.popover-content {
//	.text-tool-container {
//		width: 464px;
//	}
//	.image-tool-container {
//		width: 253px;
//	}
//}
//
//.popover-title {
//	background-color: @dark_blue;
//}
//
//.popover .top .arrow {
//	background-color: @dark_blue;
//}
//
//.colorpicker {
//	z-index: 9999!important;
//}
//
//.imgcolrpkr-i {
//	position: absolute;
//  top: 12px;
//  width: 9px;
//  height: 9px;
//	background-position:center;
//}
//
//.imgcolrpkr-font {
//	.imgcolrpkr-i;
//    left: 354px;
//    background-color: @light_gray;
//	}
//
//.imgcolrpkr-border {
//	.imgcolrpkr-i;
//	left: 395px;
//	background-color: @blue;
//}
//
//.imgcolrpkr-background {
//	.imgcolrpkr-i;
//	left: 435px;
//	background-color: @dark_blue;
//}
//
//.imgcolrpkr-border-img {
//	.imgcolrpkr-i;
//	left: 151px;
//	background-color: @blue;
//}
//
//.imgcolrpkr-background-img {
//	.imgcolrpkr-i;
//	left: 192px;
//	background-color: @dark_blue;
//}
//
//.cab-nav-tabs {
//	li {
//		a {
//			padding: 8px;
//		}
//	}
//}
