<div id="popup">
	<div class="container">
    <div class="row">
      <div class="col-sm-10">
        <div id="popup-heading">
          <h1 id="popup-title">Are you sure you want to delete this project?</h1>
        </div>
        <div id="popup-body"></div>
        <div id="popup-footer">
          <div class="pull-right">
            <button class="btn btn-default btn-lg">Oh No</button> 
            <button class="btn btn-danger btn-lg">Oh Yes</button>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>