<div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h4 class="modal-title" id="myModalLabel">Create New Project</h4>
        <div class="clearfix"></div>
        <ul class="nav nav-tabs nav-justified">
          <li class="active"><a class="project-type" data-project-type-id="4" href="#app" data-toggle="tab"><i class="fa fa-list-alt fa-5x"></i> <span class="clearfix">App</span></a></li>
          <li class=""><a class="project-type" data-project-type-id="3" href="#theme" data-toggle="tab"><i class="fa fa-adjust fa-5x"></i> <span class="clearfix">Theme</span></a></li>
          <li><a href="#widget" class="project-type" data-project-type-id="1" data-toggle="tab"><i class="fa fa-puzzle-piece fa-5x"></i> <span class="clearfix">Widget</span></a></li>
          <li><a href="#website" class="project-type" data-project-type-id="5" data-toggle="tab"><i class="fa fa-globe fa-5x"></i> <span class="clearfix">Website</span></a></li>
        </ul>
      </div>
      <div class="modal-body">
        <div class="tab-content">
          <div class="tab-pane active" id="app">
          	<div class="row">
            	<div class="col-sm-12">
              	<form class="form-horizontal" role="form">
                	<div class="form-group">
                    <label for="" class="col-sm-3 control-label">App Name</label>
                    <div class="col-sm-9">
                      <input class="form-control" type="text" id="NewProjectName" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Primary Datasource</label>
                    <div class="col-sm-9">
                      <input id="dataSource" class="form-control" type="text" />
                    </div>
                  </div>
                </form>
                <div class="cab-thumb-wrapper">
                	<h3>Custom Themes</h3>
                  <div id="cab-existing-themes" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="item active">
                        <div class="row">
                          <div class="col-sm-4">
                          	<div class="thumbnail active">
                            	<a class="custom-theme" href="#"><img src="images/theme-amelia.png" class="img-responsive img-rounded img-thumbnail"></a>
                            	<div class="caption">Flat UI</div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                          	<div class="thumbnail">
                              <a class="custom-theme" href="#"><img src="images/theme-cerulean.png" class="img-responsive img-rounded img-thumbnail"></a>
                              <div class="caption">Google Theme</div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="thumbnail">
                              <a class="custom-theme" href="#"><img src="images/theme-cosmo.png" class="img-responsive img-rounded img-thumbnail"></a>
                              <div class="caption">Metro UI</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a class="left carousel-control" href="#cab-existing-themes" data-slide="prev"><i class="fa fa-chevron-circle-left fa-lg"></i></a>
                    <a class="right carousel-control" href="#cab-existing-themes" data-slide="next"><i class="fa fa-chevron-circle-right fa-lg"></i></a>
                  </div>
                  <div class="clearfix" style="height:30px;"></div>
                  <h3>Bootswatch Themes</h3>
                  <div id="cab-bootswatch-themes" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="item active">
                        <div class="row" class="bootswatch-themes">
                          <div class="col-sm-4">
                          	<div class="thumbnail active">
                            	<a class="project-theme" href="#" data-theme-id="1" data-theme-type="1"><img src="images/theme-amelia.png" class="img-responsive img-rounded img-thumbnail"></a>
                            	<div class="caption">Amelia</div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                          	<div class="thumbnail">
                              <a class="project-theme" href="#" data-theme-id="2" data-theme-type="1"><img src="images/theme-cerulean.png" class="img-responsive img-rounded img-thumbnail"></a>
                              <div class="caption">Cerulean</div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="thumbnail">
                              <a class="project-theme" href="#" data-theme-id="3" data-theme-type="1"><img src="images/theme-cosmo.png" class="img-responsive img-rounded img-thumbnail"></a>
                              <div class="caption">Cosmo</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="row">
                          <div class="col-sm-4">
                          	<div class="thumbnail">
                              <a href="#"><img src="images/theme-cupid.png" class="img-responsive img-rounded img-thumbnail"></a>
                              <div class="caption">Cupid</div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                          	<div class="thumbnail">
                              <a href="#"><img src="images/theme-cyborg.png" class="img-responsive img-rounded img-thumbnail"></a>
                              <div class="caption">Cyborg</div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                          	<div class="thumbnail">
                              <a href="#"><img src="images/theme-flatly.png" class="img-responsive img-rounded img-thumbnail"></a>
                              <div class="caption">Flatly</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="row">
                          <div class="col-sm-4">
                          	<div class="thumbnail">
                              <a href="#"><img src="images/theme-journal.png" class="img-responsive img-rounded img-thumbnail"></a>
                              <div class="caption">Journal</div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                          	<div class="thumbnail">
                              <a href="#"><img src="images/theme-lumen.png" class="img-responsive img-rounded img-thumbnail"></a>
                              <div class="caption">Lumen</div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                          	<div class="thumbnail">
                              <a href="#"><img src="images/theme-readable.png" class="img-responsive img-rounded img-thumbnail"></a>
                              <div class="caption">Readable</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="row">
                          <div class="col-sm-4">
                          	<div class="thumbnail">
                              <a href="#"><img src="images/theme-simplex.png" class="img-responsive img-rounded img-thumbnail"></a>
                              <div class="caption">Simplex</div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                          	<div class="thumbnail">
                              <a href="#"><img src="images/theme-slate.png" class="img-responsive img-rounded img-thumbnail"></a>
                              <div class="caption">Slate</div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                          	<div class="thumbnail">
                              <a href="#"><img src="images/theme-spacelab.png" class="img-responsive img-rounded img-thumbnail"></a>
                              <div class="caption">Spacelab</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="row">
                          <div class="col-sm-4">
                          	<div class="thumbnail">
                              <a href="#"><img src="images/theme-superhero.png" class="img-responsive img-rounded img-thumbnail"></a>
                              <div class="caption">Superhero</div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                          	<div class="thumbnail">
                              <a href="#"><img src="images/theme-united.png" class="img-responsive img-rounded img-thumbnail"></a>
                              <div class="caption">United</div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                          	<div class="thumbnail">
                              <a href="#"><img src="images/theme-yeti.png" class="img-responsive img-rounded img-thumbnail"></a>
                              <div class="caption">Yeti</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a class="left carousel-control" href="#cab-bootswatch-themes" data-slide="prev"><i class="fa fa-chevron-circle-left fa-lg"></i></a>
                    <a class="right carousel-control" href="#cab-bootswatch-themes" data-slide="next"><i class="fa fa-chevron-circle-right fa-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="theme">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#from-scratch" data-toggle="tab">Create From Scratch</a></li>
              <li><a href="#from-template" data-toggle="tab">Create From Template</a></li>
            </ul>
            <div class="clearfix"></div>
            <div class="tab-content">
            	<div class="tab-pane active" id="from-scratch">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Theme Name</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="" placeholder="">
                    </div>
                  </div>
                </form>
                <div class="cab-thumb-wrapper">
                	<h3>Main Navigation Options</h3>
                  <div class="row">
                    <div class="col col-sm-3">
                      <div class="thumbnail active">
                        <a href="#"><img src="images/nav-options-top.png" class="img-responsive img-rounded img-thumbnail"></a>
                        <div class="caption">Top Navigation</div>
                      </div>
                    </div>
                    <div class="col col-sm-3">
                      <div class="thumbnail">
                        <a href="#"><img src="images/nav-options-left.png" class="img-responsive img-rounded img-thumbnail"></a>
                        <div class="caption">Left Navigation</div>
                      </div>
                    </div>
                    <div class="col col-sm-3">
                      <div class="thumbnail">
                        <a href="#"><img src="images/nav-options-right.png" class="img-responsive img-rounded img-thumbnail"></a>
                        <div class="caption">Right Navigation</div>
                      </div>
                    </div>
                    <div class="col col-sm-3">
                      <div class="thumbnail">
                        <a href="#"><img src="images/nav-options-bottom.png" class="img-responsive img-rounded img-thumbnail"></a>
                        <div class="caption">Bottom Navigation</div>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix" style="height:30px;"></div>
                  <h3>Content Options</h3>
                  <div class="row">
                    <div class="col col-sm-3">
                      <div class="thumbnail active">
                        <a href="#"><img src="images/layout-options-full-width.png" class="img-responsive img-rounded img-thumbnail"></a>
                        <div class="caption">Full Width</div>
                      </div>
                    </div>
                    <div class="col col-sm-3">
                      <div class="thumbnail">
                        <a href="#"><img src="images/layout-options-left-sidebar.png" class="img-responsive img-rounded img-thumbnail"></a>
                        <div class="caption">Left Sidebar</div>
                      </div>
                    </div>
                    <div class="col col-sm-3">
                      <div class="thumbnail">
                        <a href="#"><img src="images/layout-options-right-sidebar.png" class="img-responsive img-rounded img-thumbnail"></a>
                        <div class="caption">Right Sidebar</div>
                      </div>
                    </div>
                    <div class="col col-sm-3">
                      <div class="thumbnail">
                        <a href="#"><img src="images/layout-options-three-column.png" class="img-responsive img-rounded img-thumbnail"></a>
                        <div class="caption">Three Columns</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="from-template"></div>
            </div>
          </div>
          <div class="tab-pane" id="widget">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="" class="col-sm-3 control-label">Widget Name</label>
                <div class="col-sm-9">
                  <input class="form-control" id="widget-name" type="text">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-3 control-label">Widget Instance</label>
                <div class="col-sm-9">
                  <select id="widget-instance" class="form-control">
                    <option value="single" selected>Single</option>
                    <option value="multiple">Multiple</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane" id="website">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="CreateNewProject">Create</button>
      </div>
    </div>
  </div>
