<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
      <h4 class="modal-title" id="myModalLabel">Create New Menu</h4>
    </div>
    <div class="modal-body">
      <form role="form">
        <div class="form-group">
          <label for="exampleInputEmail1">Menu Name</label>
          <input class="form-control" type="text" id="name" name="name" />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Parent</label>
          <select class="form-control" id="parent-select" name="parentId">
            <option value="1">Single</option>
            <option value="2">Multiple</option>
          </select>
        </div>
      </form>      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary" id="create-new-menu">Create</button>
    </div>
  </div>
</div>
