<div class="panel-body">
  <form class="form-horizontal cab-form" role="form">
		<div class="form-group fixRowForm">
		  <label for="" class="col-sm-4 control-label">Input Size</label>
		  <div class="col-sm-8">
		    <select class="form-control input-sm" placeholder="" id="textarea-size">
		    	<option value="input-sm">small</option>
		    	<option value="input-md">medium</option>
		    	<option value="input-lg">large</option>
		    </select>
		  </div>
		</div>
	</form>
</div>