<div class="panel-body">
	<h3>Header Control Property</h3>
  <form class="form-horizontal cab-form" role="form">
		<div class="form-group fixRowForm">
		  <label for="" class="col-sm-4 control-label">Header Size</label>
		  <div class="col-sm-8">
		  	<select id="well-size" class="form-control">
		  		<option value="well-sm">well-sm</option>
			  	<option value="well-md">well-md</option>
			  	<option value="well-lg">well-lg</option>
		  	</select>
		  </div>
		</div>
	</form>
</div>