<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
      <h4 class="modal-title">Configure Data Sources</h4>
    </div>
    <div class="modal-body">
    	<form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-sm-3 control-label alignLeft">Widget Data Source</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="host" name="host" placeholder="Host" />
          </div>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="endPoint" name="endPoint" placeholder="End Point" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label alignLeft">Alias</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="alias" name="alias" placeholder="Alias" />
          </div>
        </div>
      </form>
      <hr class="clearfix">
      <div class="row">
      	<div class="col-sm-6">
        	<h4 style="padding-top:5px;"><strong>Headers</strong></h4>
        </div>
        <div class="col-sm-6">
          <div class="dropdown pull-right">
            <button class="btn dropdown-toggle btn-primary" type="button" id="dropdownMenu1" data-toggle="dropdown">
              Add Header <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
            </ul>
            <div class="clearfix" style="height:15px;"></div>
          </div>
        </div>
      </div>
      <div class="row">
      	<div class="col-sm-12">
        	<div class="row row5" style="margin-bottom:0px">
          	<div class="col-sm-3">
            	<h5>Parameter</h5>
            </div>
            <div class="col-sm-9">
            	<h5>Value</h5>
            </div>
          </div>
          <div class="row row5">
          	<div class="col-sm-3">
            	<input type="text" class="form-control input-sm" id="" placeholder="">
            </div>
            <div class="col-sm-9">
            	<input type="text" class="form-control input-sm" id="" placeholder="">
            </div>
          </div>
          <div class="row row5">
          	<div class="col-sm-3">
            	<input type="text" class="form-control input-sm" id="" placeholder="">
            </div>
            <div class="col-sm-9">
            	<input type="text" class="form-control input-sm" id="" placeholder="">
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" id="BackToMainDatasource">Back</button>
      <button type="button" class="btn btn-primary" id="InvokeDatasource">Invoke</button>
    </div>
  </div>
</div>
