<div class="row">
	<div class="col-sm-4">
		<h3><strong>Response Schema</strong></h3>
	</div>
	<div class="col-sm-8">
		<div id="response-schema" class="well">
      <pre>
      

      </pre>
    </div>
	</div>
	<div class="row" style="padding: 20px;">
		<div class="col-sm-9">
			<input placeholder="Schema" id="schema" class="form-control" />
		</div>
		<div class="col-sm-3">
			<button type="button" class="btn btn-primary btn-block" id="addDatasource">
				<i class="fa fa-plus"></i>  Add Datasource</button>
		</div>
	</div>
</div>
