<div class="row">
	<div class="col-sm-3">
    <div class="input-group">
      <select class="form-control">
        <option>Bulk Action</option>
      </select>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Apply</button>
      </span>
    </div>
	</div>
	<div class="col-sm-9">
		<button id="addWidgetDatasource" class="btn btn-primary pull-right">
		  <i class="fa fa-plus"></i> Add Widget Data Source
		</button>
	</div>
</div>
<div class="clearfix" style="height:15px;"></div>
<table id="datasource-list" class="table table-bordered table-hover table-condensed cab-table">
	<thead>
		<tr>
			<td class="checkbox-td">
				<i class="fa fa-square fa-lg" id="datasource-select-all"></i>
			</td>
			<td>Alias</td>
			<td>URL</td>
			<td class="action-td">Action</td>
		</tr>
	</thead>
	<tbody id="datasource-list-view">
		<!-- <tr>
			<td class="checkbox-td">
				<i class="fa fa-check-square datasource-selected"></i>
			</td>
			<td>Contacts</td>
			<td>http://localhost/BunnyLuxPOSSVC14/Contacts</td>
			<td>
				<select class="form-control input-sm">
					<option>Edit</option>
					<option>Remove</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="checkbox-td">
				<i class="fa fa-check-square datasource-selected"></i>
			</td>
			<td>Items</td>
			<td>http://localhost/BunnyLuxPOSSVC14/Items</td>
			<td>
				<select class="form-control input-sm">
					<option>Edit</option>
					<option>Remove</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="checkbox-td">
				<i class="fa fa-square"></i>
			</td>
			<td>Accounts</td>
			<td>http://localhost/BunnyLuxPOSSVC14/Accounts</td>
			<td>
				<select class="form-control input-sm">
					<option>Edit</option>
					<option>Remove</option>
				</select>
			</td>
		</tr> -->
	</tbody>
</table>
