<tr id="datasource-{{datasource.id}}" data-widget-id="{{datasource.id}}">
	<td class="checkbox-td">
		<i class="fa fa-square icon-check fa-lg" data-checked="false"></i>
	</td>
	<td>{{datasource.alias}}</td>
	<td>{{datasource.host}}{{datasource.endPoint}}</td>
	<td>
		<select class="form-control input-sm">
			<option>Edit</option>
			<option>Remove</option>
		</select>
	</td>
</tr>
