<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
      <h4 class="modal-title">Configure Data Sources</h4>
    </div>
    <div class="modal-body">
    	<form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-sm-3 control-label text-left">Project Data Source</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="projectDataSource" placeholder="Datasource" />
          </div>
        </div>
      </form>
      <hr class="clearfix">
      <!-- data source table -->
      <div id="datasource-list">
        <!-- render datasource list here -->
        <!--<div data-aura-component="project-datasource-list"></div>-->
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-primary" id="SaveDatasource">Save</button>
    </div>
  </div>
</div>
