<nav class="navbar navbar-inverse" role="navigation">
  <div class="collapse navbar-collapse">
    <p class="navbar-text">Copyright © 2014. Connected App Builder v2.0.1. All rights reserved.</p>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Support</a></li>
      <li><a href="#">Community</a></li>
      <li><a href="#">Forum</a></li>
      <li><a href="#">Help</a></li>
    </ul>
	</div>
</nav>