<div class="panel-body">
  <form class="form-horizontal cab-form" role="form">
		<div class="form-group fixRowForm">
		  <label for="" class="col-sm-4 control-label">Inline</label>
		  <div class="col-sm-8">
		    <label class="checkbox-inline">
		      <input type="checkbox" value="yes" id="radio-inline"> same line radio buttons
		    </label>
		  </div>
		</div>
	</form>
</div>