<div class="btn-group btn-group-justified" data-toggle="buttons">
	<div class="btn-group">
    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-desktop"></i> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu" id="designer-view-toggle">
      <li><a href="#" data-view="desktop"><i class="fa fa-desktop fa-fw"></i> Desktop</a></li>
      <li><a href="#" data-view="laptop"><i class="fa fa-laptop fa-fw"></i> Laptop <small>(1336 X 768)</small></a></li>
      <li class="divider"></li>
      <li><a href="#" data-view="tablet-landscape"><i class="fa fa-tablet fa-fw"></i> Tablet <small>(Landscape)</small></a></li>
      <li><a href="#" data-view="tablet-portrait"><i class="fa fa-tablet fa-fw"></i> Tablet <small>(Portrait)</small></a></li>
      <li class="divider"></li>
      <li><a href="#" data-view="mobile-landscape"><i class="fa fa-mobile fa-fw"></i> Mobile <small>(Landscape)</small></a></li>
      <li><a href="#" data-view="mobile-portrait"><i class="fa fa-mobile fa-fw"></i> Mobile <small>(Portrait)</small></a></li>
    </ul>
  </div>
  <label class="btn btn-default">
    <input type="checkbox" name="options" id="option1"> <span class="hidden-lg"><i class="fa fa-th-large"></i></span> <span class="visible-lg">Design</span>
  </label>
  <label class="btn btn-default">
    <input type="checkbox" name="options" id="option1"> <span class="hidden-lg"><i class="fa fa-code"></i></span> <span class="visible-lg">Code</span>
  </label>
</div>
