<h3><i class="fa fa-list-ul"></i> Active Projects</h3>
<ul class="fa-ul cab-projects">
    {{#each this}}
        <li class="cab-project">
            <i class="fa-li fa fa-folder fa-fw"></i> <a class="ProjName" id="{{name}}" data-projid="{{id}}" href="#appbuilder/{{id}}"> {{name}}</a>
        </li>
    {{/each}}
    <li id="naps" class="fa-li cab-project hidden"><i class="fa-li fa fa-folder-o fa-fw"></i> No Active Projects</li>
</ul>
