@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,400italic,700italic);
@import url(cab-right.less);
@primary_dark: #1D2028;
@primary_dark_invert: #798795;
@primary_gray: #93969f;
@light_gray: #999;
@light: #f5f5f5;
@blue: #2da1ec;
@dark_blue: #2c3e50;
@dark_blue_invert: #798795;
@white: #FFF;
.fixRow {
	margin: 0px;
	> .col {
		padding: 0px;
	}
}
.fixRowForm {
	margin: 0px -5px;
	> div,
	> .control-label {
		padding-left: 5px;
		padding-right: 5px;
	}
	&.form-group {
		margin-bottom: 10px;
	}
}
.h100p {
	height: 100%;
}
.lato {
	font-family: "Lato", Arial, Helvetica, sans-serif;
}
.trasition_all {
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.caret {
	margin-left: 5px!important;
	margin-right: 5px!important;
}
.btn-group {
	.caret {
		margin-left: 5px!important;
		margin-right: 5px!important;
	}
}
body {
	overflow-x: hidden;
	background-color: @primary_dark;
	.lato;
}
h1, h2, h3, h4, h5, h6 {
	.lato;
	font-weight: 300;
	margin-top: 0px;
}
#cab-header {
	.navbar {
		margin: 0px;
		border: none;
		border-radius: 0px;
		background-color: @primary_dark;
		
		.navbar-header {
			min-width: 16.666666666666664%;
			margin-right: 1px;
			
			.cab-logo {
				padding: 0px;
			}
			.navbar-brand {
				color: @primary_dark_invert;
			}
		}
		.navbar-nav.navbar-right {
			margin: 0px;
		}
		.nav-tabs {
			border: none;
		}
		.navbar-nav {
			li.cab-project a {
				font-size: 18px;
			}
			li.cab-avatar a {
				padding: 5px 20px;
				img {
					border-radius: 50%;
					width: 40px;
					height: 40px;
				}
			}
			li {
				a {
					border: none;
					border-radius: 0px;
					color: @primary_dark_invert;
					padding: 15px 25px;
					@media (min-width: 1200px) {
						span {
							display: inline!important;
						}
					}
				}
				a:hover {
					background: fade(@primary_dark_invert, 35%);
				}
			}
			li.active a {
				background-color: @light;
				color: @primary_dark;
			}			
			li.dropdown.open a {
				background-color: @primary_dark_invert;
				color: @light;
			}
			li.dropdown ul.dropdown-menu {
				padding: 0px;
				border: none;
				border-radius: 0px;
				
				li.divider {
					height: 1px;
					margin: 0;
					overflow: hidden;
					background-color: lighten(@primary_dark_invert, 15%);
				}
				li a {
					padding: 10px 20px;
					color: primary_dark_invert;
				}
				li a:hover {
					background-color: lighten(@primary_dark, 15%);
					color: darken(@light, 15%);
				}
			}
		}
	}
}
@side_w: 16.666666666666664%; /* col-sm-2 */
@main_w: 66.66666666666666%; /* col-sm-8 */
#cab-container {
	height: ~"calc(100% - 90px)"; /* 100 = header + footer */
	
	#cab-container-left {
		width: @side_w;
		.trasition_all();
	}
	#cab-container-middle {
		.trasition_all();
		width: @main_w;
		padding:0px 1px;
		
		.cab-toggle-panel {
			position: absolute;
			background: @primary_dark;
			top: ~"calc(50% - 34px)";
			border-radius: 5px;
			z-index: 1000;
			opacity: .5;
			transition: opacity 0.25s ease;
			
			&:hover {
				opacity: 1;
			}
			
			a {
				color: @primary_dark_invert;
				outline: none;
			}
			a:hover {
				color: @light;
			}
			
			&.left {
				left: 0px;
				border-top-left-radius: 0px!important;
				border-bottom-left-radius: 0px!important;
				a {
					padding: 6px 6px 6px 2px;
				}
			}
			&.right {
				right: 0px;
				border-top-right-radius: 0px!important;
				border-bottom-right-radius: 0px!important;
				a {
					padding: 6px 2px 6px 6px;
				}
			}
		}
	}
	#cab-container-right {
		width: @side_w;
		.trasition_all();
	}
	&.hide_left {
		overflow: hidden;
		#cab-container-left {
			width: 0px;
		}
		#cab-container-middle {
			width: @main_w + @side_w;
			padding-left: 0px;
		}
		#cab-container-right {
			width: @side_w;
		}
	}
	&.hide_right {
		overflow: hidden;
		#cab-container-left {
			width: @side_w;
		}
		#cab-container-middle {
			width: @main_w + @side_w;
			padding-right: 0px;
		}
		#cab-container-right {
			width: 0px;
		}
	}
	&.hide_right.hide_left {
		overflow: hidden;
		#cab-container-left {
			width: 0px;
		}
		#cab-container-middle {
			width: @main_w + @side_w + @side_w;
			padding: 0px;
		}
		#cab-container-right {
			width: 0px;
		}
	}
}
#cab-footer {
	height: 40px;
	.navbar {
		height: 40px;
		min-height: 40px;
		margin: 0px;
		border: none;
		border-radius: 0px;
		background-color: @primary_dark;
		
		ul.navbar-nav {
			li a {
				padding-top: 10px;
				padding-bottom: 10px;
				font-size: 12px;
			}
		}
	}
	.navbar-text {
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 12px;
	}
}
.cab-panel {
	margin: 0px;
	border: none;
	border-radius: 0px;
	box-shadow: none;
	background-color: @primary_dark;
	.h100p;
	
	.cab-panel-heading {
		border: none;
		height: 50px;
		border-radius: 0px;
	}
	.cab-panel-heading-tab {
	}
	.cab-panel-heading-toolbar {
	}
	.cab-panel-body {
		padding: 10px 10px 0px;
		overflow: auto;
		height: ~"calc(100% - 100px)"
	}
}
.cab-accordion {
	.h100p();
	> .panel {
		.h100p();
		
		border-radius: 0px;
		border: none;
		margin: 0px 0px 1px!important;
		
		> .panel-heading {
			padding: 12px 15px 13px 15px;
			border-radius: 0px;
			border: none;
			background-color: @dark_blue;
			color: @dark_blue_invert;
			
			.panel-title {
				font-weight: bold;
				cursor: pointer;
			}
		}
		> .panel-collapse {
			.h100p();
			
			.panel-body {
				border: none;
				background-color: @light;
				color: @dark_blue_invert;
				overflow: auto;
				
				hr {
					border-top: solid 1px @dark_blue_invert;
					margin: 20px -15px 15px;
				}
			}
		}
	}
	&.dark {
		> .panel {
			background-color: transparent;
			
			> .panel-collapse {
				.panel-body {
					background-color: transparent;
					margin: 0px -5px;
					
					hr {
						margin: 0px 0px 15px!important;
					}
				}
			}
		}
	}
	.cab-treet {
		margin: -15px;
		background-color: @light;
		
		ol {
			margin: 0px;
			padding: 0px;
			li.ui-sortable-placeholder {
				visibility: visible!important;
				min-height: 40px;
				border: dotted 2px @blue;
			}
			li ol li.ui-sortable-placeholder {
				margin-left: 30px;
			}
			li ol li ol li.ui-sortable-placeholder {
				margin-left: 60px;
			}
			li.ui-sortable-helper {
				opacity: .5!important;
			}
			li {
				list-style: none!important;
				
				ol {
					li {
						.panel-group .panel {
							padding-left: 30px;
							position: relative;
							&:before {
								transform: rotate(90deg);
								-ms-transform: rotate(90deg); /* IE 9 */
								-webkit-transform: rotate(90deg); /* Safari and Chrome */
								content: "\f148"; 
								font-family: FontAwesome;
								font-style: normal;
								font-weight: normal;
								text-decoration: inherit;
						/*--adjust as necessary--*/
								color: #000;
								font-size: 18px;
								padding-right: 0.5em;
								position: absolute;
								top: 10px;
								left: 15px;
							}
						}
						ol {
							li {
								.panel-group .panel {
									padding-left: 60px;
									&:before {
										left: 45px;
									}
								}
								ol {
									li {
										.panel-group .panel {
											padding-left: 90px;
											&:before {
												left: 75px;
											}
										}
										ol {
											li {
												.panel-group .panel {
													padding-left: 120px;
													&:before {
														left: 105px;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		
		.panel-group {
			.panel {
				background-color: @light;
				border: none;
				border-radius: 0px;
				box-shadow: none;
				border-top: solid 1px @primary_dark;
				
				.panel-heading {
				}
				.panel-collapse {
					.panel-body {
					}
				}
			}
		}
	}
}
.cab-tree {
	ol li {
		list-style: none;
	}
	ol li.ui-sortable-placeholder {
		visibility: visible!important;
		min-height: 40px;
		border: dotted 2px @blue;
	}
	> ol {
		padding: 0px;
	}
}
.cab-fa-ul {
	li {
		ul {
			margin-left: 20px;
		}
		a {
			text-decoration: none;
		}
	}
}
.cab-nav-tabs {
	border: none;
	background-color: #000;
	
	li {
		margin: 0px;
		
		a {
			.trasition_all();
			padding: 15px 25px;
			border: none!important;
			border-radius: 0px!important;
			margin: 0px;
			background-color: #000;
			color: #555;
		}
		a:hover {
			background: fade(@primary_dark, 50%);
			color: fade(@light, 50%);
		}
	}
	li.active a {
		background-color: @primary_dark!important;
		color: @primary_dark_invert!important;
	}
}
#cab-panel {
	overflow: hidden;
	
	.cab-panel-body {
		background-color: @light;
		padding: 25px;
		height: 100%!important;
		
		#cab-design {
			overflow: auto;
			margin: 0px auto;
			box-shadow: 0px 5px 15px rgba(0,0,0,.25);			
		}
		@-moz-document url-prefix() {
			#cab-design {
				margin-bottom: 25px!important;
			}
		}
		#cab-design[data-view="desktop"] {
			width: 100%;
		}
		#cab-design[data-view="tablet-landscape"] {
			width: 1024px;
			height: 768px;
		}
		#cab-design[data-view="tablet-portrait"] {
			width: 768px;
			height: 1024px;
		}
		#cab-design[data-view="mobile-landscape"] {
			width: 640px;
			height: 480px;
		}
		#cab-design[data-view="mobile-portrait"] {
			width: 480px;
			height: 640px;
		}
	}
	.cab-panel-body.split-view {
	}
}
.cab-control {
	margin-bottom: 10px;
	border: dashed 1px @white;
	position: relative;
}
.cab-active {
	border: solid 1px @blue;
	 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
	> .cab-control-actions {
		opacity: 1!important;
	}
}
.cab-control-actions {
	transition: all 0.5s ease;
	position: absolute;
	top: 0px;
	right: 1px;
	z-index: 100;
	opacity: .25;
	
	.cab-move {
		cursor: move;
	}
}
.after {
	border-bottom: 1px dashed @blue;
	border-right: 1px dashed @blue;
	border-radius: 0px 0 4px 0;
	color: @blue;
	font-size: 12px;
	font-weight: bold;
	left: 0px;
	padding: 3px 7px;
	position: absolute;
	top: 0px;
}
[data-control="container"] {
	position: relative;
	padding: 45px 30px 15px;
	min-height: 500px;
	background: @white;
	border: dashed 1px @blue;
	margin-bottom: 0px!important;
	
	&:after {
		content: "Container";
		.after;
	}
}
[data-control="row"] {
	position: relative;
	padding: 30px 15px 15px;
	min-height: 100px;
	border: dashed 1px @blue;
	display: table;
	width: 100%;
	margin: 0px auto 15px;
	background-color: #EEE;
	
	&:after {
		content: "Row";
		.after;
	}
}
[data-control="col"] {
	position: relative;
	padding: 30px 15px 0px;
	min-height: 100px;
	border: dashed 1px @blue;
	background-color: @white;
	margin: 0px!important;
	
	&:after {
		content: "Column";
		.after;
	}
}
[data-control="form"] {
	position: relative;
	padding: 30px 15px 15px;
	min-height: 100px;
	border: dashed 1px @blue;
	
	&:after {
		content: "Form";
		.after;
	}
}
[data-control="panel"] {
	position: relative;
	padding: 30px 15px 15px;
	border: dashed 1px @blue;
	
	&:after {
		content: "Panel";
		.after;
	}
}
[data-control="form-group"] {
	position: relative;
	padding: 30px 10px 10px;
	border: dashed 1px @blue;
	
	&:after {
		content: "Form Group";
		.after;
	}
}
[data-control="heading"],
[data-control="table"],
[data-control="well"],
[data-control="button"],
[data-control="paragraph"],
[data-control="label"],
[data-control="input"],
[data-control="alert"] {
	margin-bottom: 0px;
	> .cab-control-actions {
		top: -23px;
		right: -2px;
		opacity: 0;
		padding-bottom: 2px;
	}
}
::-webkit-scrollbar {
	width: 12px;
	height: 12px;	
}
::-webkit-scrollbar-button {
}
::-webkit-scrollbar-track {
	background: #CCC;
}
::-webkit-scrollbar-track-piece {
}
::-webkit-scrollbar-thumb {
	background: @blue;
}
::-webkit-scrollbar-corner {
}
::-webkit-resizer {
}