<div class='panel-body'>
  <form class='form-horizontal cab-form' role='form'>
    <div class='form-group fixRowForm'>
      <label for='' class='col-sm-4 control-label'>Border</label>
      <div class='col-sm-8'>
        <div class='customRow borderized' id='control-border-width'>
          <div class='customCol'><input type='text' class='form-control input-sm text-center border-width' placeholder='0' placement='border' name='border'></div>
          <div class='customCol'><input type='text' class='form-control input-sm text-center border-width' placeholder='0' placement='border-top' name='bTop'></div>
          <div class='customCol'><input type='text' class='form-control input-sm text-center border-width' placeholder='0' placement='border-right' name='bRight'></div>
          <div class='customCol'><input type='text' class='form-control input-sm text-center border-width' placeholder='0' placement='border-bottom' name='bBottom'></div>
          <div class='customCol'><input type='text' class='form-control input-sm text-center border-width' placeholder='0' placement='border-left' name='bLeft'></div>
        </div>
      </div>
    </div>
    <div class='form-group fixRowForm'>
      <label for='' class='col-sm-4 control-label'>Border Radius</label>
      <div class='col-sm-8'>
        <div class='customRow borderized' id='control-border-radius'>
          <div class='customCol'><input type='text' class='form-control input-sm text-center border-radius' placeholder='0' placement='border-radius' name='radius'></div>
          <div class='customCol'><input type='text' class='form-control input-sm text-center border-radius' placeholder='0' placement='border-top-right-radius' name='rTopRight'></div>
          <div class='customCol'><input type='text' class='form-control input-sm text-center border-radius' placeholder='0' placement='border-bottom-right-radius' name='rBotRight'></div>
          <div class='customCol'><input type='text' class='form-control input-sm text-center border-radius' placeholder='0' placement='border-bottom-left-radius' name='rBotLeft'></div>
          <div class='customCol'><input type='text' class='form-control input-sm text-center border-radius' placeholder='0' placement='border-top-left-radius' name='rTopLeft'></div>
        </div>
      </div>
    </div>
    <div class='form-group fixRowForm'>
      <label for='' class='col-sm-4 control-label'>Padding</label>
      <div class='col-sm-8'>
        <div class='customRow borderized' id='control-padding'>
          <div class='customCol'><input type='text' class='form-control input-sm text-center padding' placeholder='0' placement='padding' name='padding'></div>
          <div class='customCol'><input type='text' class='form-control input-sm text-center padding' placeholder='0' placement='padding-top' name='pTop'></div>
          <div class='customCol'><input type='text' class='form-control input-sm text-center padding' placeholder='0' placement='padding-right' name='pRight'></div>
          <div class='customCol'><input type='text' class='form-control input-sm text-center padding' placeholder='0' placement='padding-bottom' name='pBottom'></div>
          <div class='customCol'><input type='text' class='form-control input-sm text-center padding' placeholder='0' placement='padding-left' name='pLeft'></div>
        </div>
      </div>
    </div>
    <div class='form-group fixRowForm'>
      <label for='' class='col-sm-4 control-label'>Margin</label>
      <div class='col-sm-8'>
        <div class='customRow borderized' id='control-margin'>
          <div class='customCol'><input type='text' class='form-control input-sm text-center margin' placeholder='0' placement='margin' name='margin'></div>
          <div class='customCol'><input type='text' class='form-control input-sm text-center margin' placeholder='0' placement='margin-top' name='mTop'></div>
          <div class='customCol'><input type='text' class='form-control input-sm text-center margin' placeholder='0' placement='margin-right' name='mRight'></div>
          <div class='customCol'><input type='text' class='form-control input-sm text-center margin' placeholder='0' placement='margin-bottom' name='mBottom'></div>
          <div class='customCol'><input type='text' class='form-control input-sm text-center margin' placeholder='0' placement='margin-left' name='mLeft'></div>
        </div>
      </div>
    </div>
  </form>
</div>