<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
      <h4 class="modal-title" id="myModalLabel">Update Widget</h4>
    </div>
    <div class="modal-body">
      <form role="form">
        <div class="form-group">
          <label for="name">Widget Name</label>
          <input class="form-control" type="text" id="name" name="name" value= "{{name}}"  />
        </div>
        <div class="form-group">
          <label for="data-source">Data Source</label>
          <select id="data-source" class="form-control">
            <!-- render datasources here -->
            {{#each dataSources }}
            <option value="{{this.id}}">{{this.alias}}</option>
            {{/each}}
            <option>default</option>
          </select>
        </div>
      </form>      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" id="update-widget">Update</button>
    </div>
  </div>
</div>
