<div class="panel-group cab-accordion">
  <div class="panel panel-default">
    <div class="panel-heading" data-tree-header="widget" data-widget="{{slug}}-{{id}}">
      <h4 class="panel-title" data-toggle="collapse" href="#{{slug}}-widget" data-parent="#module-widget-items">{{name}}</h4>
    </div>
    <div id="{{slug}}-widget" class="panel-collapse collapse parent-tree" data-classification="widget">
      <div class="panel-body">
        <section>
          <form class="form-horizontal" role="form">
            <div class="form-group fixRowForm">
              <label for="" class="col-sm-4 control-label">Datasource</label>
              <div class="col-sm-8">
                <select class="form-control input-sm">
                  <option value="none">Add Data Source</option>
                  {{#each dataSources}}
                  <option value="{{this.alias}}">{{ this.alias }}</option>
                  {{/each}}
                  <!--<option>Address</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>-->
                </select>
              </div>
            </div>
            <div class="form-group fixRowForm">
              <label for="" class="col-sm-4 control-label">User Roles</label>
              <div class="col-sm-8">
                <div class="input-group">
                  <input type="text" class="form-control input-sm" placeholder="Inherit">
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-sm" type="button"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </div>
            </div>
          </form>
        </section>
        <hr>
        <section>
          <ul class="fa-ul cab-fa-ul">
            <li><i class="fa-li fa fa-sort-down fa-rotate-270"></i> <a href="#"><i class="fa fa-folder fa-fw"></i> views</a>
            <ul class="fa-ul">
              {{#each files.views}}
              <li><a href="#" data-filename="{{this}}" data-type="views" class="widget-files"><i class="fa fa-file-text fa-fw"></i> {{this}}</a></li>
              {{/each}}
            </ul>
            </li>
            <li><i class="fa-li fa fa-sort-down fa-rotate-270"></i> <a href="#"><i class="fa fa-folder fa-fw"></i> models</a>
            <ul class="fa-ul">
              {{#each files.models}}
              <li><a href="#" data-filename="{{this}}" data-type="models" class="widget-files"><i class="fa fa-file-text fa-fw"></i> {{this}}</a></li>
              {{/each}}
            </ul>
            </li>
            <li><i class="fa-li fa fa-sort-down fa-rotate-270"></i> <a href="#"><i class="fa fa-folder fa-fw"></i> assets</a>
            <ul class="fa-ul">
              {{#each files.assets}}
              <li><a href="#" data-filename="{{this}}" data-type="assets" class="widget-files"><i class="fa fa-file-text fa-fw"></i> {{this}}</a></li>
              {{/each}}
            </ul>
            </li>
            <li><i class="fa-li fa fa-sort-down fa-rotate-270"></i> <a href="#"><i class="fa fa-folder fa-fw"></i> collections</a>
            <ul class="fa-ul">
              {{#each files.collections}}
              <li><a href="#" data-filename="{{this}}" data-type="collections" class="widget-files"><i class="fa fa-file-text fa-fw"></i> {{this}}</a></li>
              {{/each}}
            </ul>
            </li>
            <li><i class="fa-li fa fa-sort-down fa-rotate-270"></i> <a href="#"><i class="fa fa-folder fa-fw"></i> templates</a>
            <ul class="fa-ul">
              {{#each files.templates}}
              <li><a href="#" data-filename="{{this}}" data-type="templates" class="widget-files"><i class="fa fa-file-text fa-fw"></i> {{this}}</a></li>
              {{/each}}
            </ul>
            </li>
            <li><i class="fa-li fa"></i> <a href="#" data-filename="{{files.main}}" data-type="main" class="widget-files"><i class="fa fa-file-text fa-fw"></i> {{files.main}}</a></li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>
