<div class="panel-body">
  <form class="form-horizontal cab-form" role="form">
		<div class="form-group fixRowForm">
		  <label for="" class="col-sm-4 control-label">Row</label>
		  <div class="col-sm-8">
		    <select class="form-control input-sm" placeholder="" id="row-col">
		    	<option value="col-lg">col-lg</option>
		    	<option value="col-md">col-md</option>
		    	<option value="col-sm">col-sm</option>
		    	<option value="col-xs">col-xs</option>
		    </select>
		  </div>
		</div>
		<div class="form-group fixRowForm">
		  <label for="" class="col-sm-4 control-label">Columns</label>
		  <div class="col-sm-8">
		  	<select class="form-control input-sm" placeholder="" id="row-presets">
		    	<option value="1">12</option>
		    	<option value="2">6-6</option>
		    	<option value="3">4-4-4</option>
		    	<option value="4">4-8</option>
		    	<option value="5">8-4</option>
		    	<option value="6">3-6-3</option>
		    	<option value="7">3-3-3-3</option>
		    </select>
		  </div>
		</div>
		<div class="form-group fixRowForm">
		  <label for="" class="col-sm-4 control-label">Size</label>
		  <div class="col-sm-8">
		    <select class="form-control input-sm" placeholder="" id="row-col-size">
		    	<option value="">1</option>
		    	<option value="">2</option>
		    	<option value="">3</option>
		    	<option value="">4</option>
		    	<option value="">5</option>
		    	<option value="">6</option>
		    	<option value="">7</option>
		    	<option value="">8</option>
		    	<option value="">9</option>
		    	<option value="">10</option>
		    	<option value="">11</option>
		    	<option value="">12</option>
		    </select>
		  </div>
		</div>
	</form>
</div>