<div class="panel-group cab-accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" href="#form-properties">Form Properties <div class="pull-right"><i class="fa fa-chevron-circle-down"></i></div></h4>
    </div>
    <div id="form-properties" class="panel-collapse collapse in">
      <!-- properties-structure -->
    </div>
  </div>
</div>