<div class="panel-group cab-accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" href="#element-properties">Element Properties <div class="pull-right"><i class="fa fa-chevron-circle-down"></i></div></h4>
    </div>
    <div id="element-properties" class="panel-collapse collapse in">
      <!-- properties-structure -->
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" href="#bootstrap-properties">Bootstrap Properties <div class="pull-right"><i class="fa fa-chevron-circle-down"></i></div></h4>
    </div>
    <div id="bootstrap-properties" class="panel-collapse collapse">
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" href="#box-properties">Box Properties <div class="pull-right"><i class="fa fa-chevron-circle-down"></i></div></h4>
    </div>
    <div id="box-properties" class="panel-collapse collapse">
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" href="#effects-properties">Effects Properties <div class="pull-right"><i class="fa fa-chevron-circle-down"></i></div></h4>
    </div>
    <div id="effects-properties" class="panel-collapse collapse">
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" href="#control-properties">Control Properties<div class="pull-right"><i class="fa fa-chevron-circle-down"></i></div></h4>
    </div>
    <div id="control-properties" class="panel-collapse collapse"></div>
  </div>
</div>
