<div class="panel panel-default">
  <div class="panel-heading" data-tree-header="{{slug}}">
    <h4 class="panel-title" data-toggle="collapse" href="#{{slug}}">{{name}}</h4>
  </div>
  <div id="{{slug}}" class="panel-collapse collapse parent-tree">
    <div class="panel-body">
      <div class="panel panel-default">
        <div id="tree-1-widget-2" class="panel-collapse collapse in" style="margin:10px;">
          <div class="panel-body">
            <ul class="fa-ul cab-fa-ul">
              <li>
                <a href="#" class="menu-file" data-filename="{{slug}}" data-type="views"><i class="fa fa-file-text fa-fw"></i> view
                </a>
              </li>
              <li>
                <a href="#" class="menu-file" data-filename="{{slug}}" data-type="templates"><i class="fa fa-file-text fa-fw"></i>template
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

