<div class="btn-group pull-left">
  <button class="btn btn-default" id="active-widget-preview"><span class="hidden-lg"><i class="fa fa-flask"></i></span> <span class="visible-lg">Preview</span></button>
  <div class="btn-group">
    <button type="button" class="btn btn-default"><span class="hidden-lg"><i class="fa fa-play"></i></span> <span class="visible-lg">Test</span></button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Lint</a></li>
      <li><a href="#">Compile</a></li>
      <li class="divider"></li>
      <li><a id="launchProject" href="#">Run</a></li>
    </ul>
  </div>
</div>
<div class="btn-group pull-right">
  <button type="button" class="btn btn-primary" id="save-file"><span class="hidden-lg"><i class="fa fa-save"></i></span> <span class="visible-lg">Save</span></button>
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu dropdown-menu-left" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
