<div id="cab-container-row" class="row fixRow h100p">

	<div id="cab-container-left" class="col col-sm-2 h100p">

		<div id="cab-panel-left" class="panel panel-default cab-panel" data-aura-component="module">
			<!-- THE MODULE IS HERE -->
		</div>

	</div>

	<div id="cab-container-middle" class="col col-sm-8 h100p">

		<!-- hide module -->
		<div class="cab-toggle-panel left">
	    <a href="#" class="btn btn-sm">&nbsp;<i class="fa fa-angle-left fa-lg"></i></a>
	  </div>

	  <!-- hide toolbox -->
	  <div class="cab-toggle-panel right">
	    <a href="#" class="btn btn-sm"><i class="fa fa-angle-right fa-lg"></i>&nbsp;</a>
	  </div>

		<div id="cab-panel" class="panel panel-default cab-panel" data-aura-component="canvas">
			<!-- THE CANVAS IS HERES -->
		</div>

	</div>

	<div id="cab-container-right" class="col col-sm-2 h100p">

		<div id="cab-panel-right" class="panel panel-default cab-panel">
			<!-- THE TOOLBOX AND PROPERTIES IS HERE -->
		</div>

	</div>

</div>