<div id="sen-container" class="container-fluid" data-aura-component="dashboard">
	<div class="layer1"></div>
  <div class="layer2"></div>
	<div class="row content">
  	<div class="col-sm-6">
      <div id="dashboard-container">
        <ul class="nav nav-pills cab-nav-pills" id="project-types-tabs">
          <li class="active">
            <a href="#project-all" data-toggle="tab">All</a>
          </li>
          <li>
            <a href="#project-apps" data-toggle="tab">Apps</a>
          </li>
          <li>
            <a href="#project-themes" data-toggle="tab">Themes</a>
          </li>
          <li>
            <a href="#project-website" data-toggle="tab">Websites</a>
          </li>
          <li>
            <a href="#project-widget" data-toggle="tab">Widget</a>
          </li>
        </ul>
        <div class="tab-content">
        	<div id="project-all" class="tab-pane active projects-container">
          	<div id="projcontent"></div>
          </div>
          <div id="project-apps" class="tab-pane">
          	<h3><i class="fa fa-list-alt"></i> Apps</h3>
          </div>
          <div id="project-themes" class="tab-pane">
          	<h3><i class="fa fa-adjust"></i> Themes</h3>
          </div>
          <div id="project-website" class="tab-pane">
          	<h3><i class="fa fa-globe"></i> Websites</h3>
          </div>
          <div id="project-widget" class="tab-pane">
          	<h3><i class="fa fa-puzzle-piece"></i> Widgets</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
    	<div id="newProjectWrap">
      	<img src="images/what-are-you-building.png" width="354" height="357">
        <a id="new-project" class="btn btn-primary btn-lg btn-block" href="#">Start a New Project</a>
      </div>
    </div>
  </div>
</div>