<div class="container">
	<div class="clearfix" style="height:150px;"></div>
	<div class="row">
  	<div class="col-sm-8"><img src="images/login-image.png" width="983" height="661" class="img-responsive"></div>
    <div class="col-sm-4">
    <div class="clearfix" style="height:100px;"></div>
    	<img src="images/cab-logo-login.png" class="img-responsive">
      <div class="clearfix" style="height:20px;"></div>
      <form class="form">
        <div class="form-group">
          <div class="controls">
            <input type="text" id="inputEmail" class="required form-control input-lg" placeholder="Username">
          </div>
        </div>
        <div class="form-group">
          <div class="controls">
            <input type="password" id="inputPassword" class="required form-control input-lg" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div class="controls">
            <a id="loginButton" href="#dashboard" type="button" class="btn btn-primary btn-lg btn-block">Login</a>
          </div>
        </div>
        <div class="form-group text-right"><a href="#">Forgot Password?</a></div>
      </form>
    </div>
  </div>
</div>