<div class="panel-heading">
  <h4 class="panel-title" data-toggle="collapse" href="#extensions">Extensions</h4>
</div>
<div id="extensions" class="panel-collapse collapse">
  <div class="panel-body">
    <div class="panel panel-default">
      <ul class="fa-ul" id="extension-list">
        <!--<li><i class="fa-li fa fa-folder fa-fw"></i> <a href="#">SentientView.js</a></li>
        <li><i class="fa-li fa fa-folder fa-fw"></i> <a href="#">SentientModel.js</a></li>
        <li><i class="fa-li fa fa-folder fa-fw"></i> <a href="#">SentientCollection.js</a></li>
        <li><i class="fa-li fa fa-folder fa-fw"></i> <a href="#">Bootstrapper.js</a></li>
        <li><i class="fa-li fa fa-folder fa-fw"></i> <a href="#">ExtensionGlobals.js</a></li>-->
      </ul>
    </div>
  </div>
</div>

