<div class="cab-tree">
  <ol class="">
    <li>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title" data-toggle="collapse" href="#theme-files">Core Files</h4>
        </div>
        <div id="theme-files" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="panel panel-default">
              <ul class="fa-ul">
                <!-- TODO: think of a better implementation -->
                <li><i class="fa-li fa fa-file fa-fw"></i> <a class="core-file" href="#" data-filename="style.less">style.less</a></li>
                <li><i class="fa-li fa fa-file fa-fw"></i> <a class="core-file" href="#" data-filename="index.html">index.html</a></li>
                <li><i class="fa-li fa fa-file fa fw"></i> <a class="core-file" href="#" data-filename="main.js">main.js</a></li>
                <li><i class="fa-li fa fa-file fa fw"></i> <a class="core-file" href="#" data-filename="router.js">router.js</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="panel panel-default" id="core-extensions-panel">
        <!-- extensions render here  -->
      </div>
    </li>
  </ol>
</div>
