<div class="panel-body">
  <form class="form-horizontal cab-form" role="form">
    <div class="form-group fixRowForm">
      <label for="" class="col-sm-4 control-label">Text-Shadow</label>
      <div class="col-sm-8">
        <div class="input-group">
          <input type="text" class="form-control input-sm">
          <span class="input-group-btn">
            <button class="btn btn-default btn-sm" type="button"><i class="fa fa-th-list"></i></button>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group fixRowForm">
      <label for="" class="col-sm-4 control-label">Box-Shadow</label>
      <div class="col-sm-8">
        <div class="input-group">
          <input type="text" class="form-control input-sm">
          <span class="input-group-btn">
            <button class="btn btn-default btn-sm" type="button"><i class="fa fa-th-list"></i></button>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group fixRowForm">
      <label for="" class="col-sm-4 control-label">Transform</label>
      <div class="col-sm-8">
        <div class="input-group">
          <input type="text" class="form-control input-sm">
          <span class="input-group-btn">
            <button class="btn btn-default btn-sm" type="button"><i class="fa fa-th-list"></i></button>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group fixRowForm">
      <label for="" class="col-sm-4 control-label">Animation</label>
      <div class="col-sm-8">
        <div class="input-group">
          <input type="text" class="form-control input-sm">
          <span class="input-group-btn">
            <button class="btn btn-default btn-sm" type="button"><i class="fa fa-th-list"></i></button>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>