<div class="panel-heading cab-panel-heading">
	<!-- Right panel Heading -->
</div>
<div class="cab-panel-heading-tab">
  <ul class="nav nav-tabs cab-nav-tabs nav-justified">
    <li class="active"><a href="#toolbox-controls" data-toggle="tab" id="controls-view"><span class="hidden-lg"><i class="fa fa-wrench"></i></span> <span class="visible-lg">Controls</span></a></li>
    <li><a href="#toolbox-properties" data-toggle="tab" id="properties-view"><span class="hidden-lg"><i class="fa fa-cogs"></i></span> <span class="visible-lg">Properties</span></a></li>
    <li><a href="#toolbox-events" data-toggle="tab" id="events-view"><span class="hidden-lg"><i class="fa fa-hand-o-up"></i></span> <span class="visible-lg">Events</span></a></li>
  </ul>
</div>
<div class="clearfix"></div>
<div class="panel-body cab-panel-body">
  <div class="tab-content">
    <div class="tab-pane active" id="toolbox-controls">
    </div>
    <div class="tab-pane" id="toolbox-properties">
    </div>
    <div class="tab-pane" id="toolbox-events">
    </div>
  </div>
</div>