<div class="panel-body">
	<h3>Header Control Property</h3>
  <form class="form-horizontal cab-form" role="form">
		<div class="form-group fixRowForm">
		  <label for="" class="col-sm-4 control-label">Header Size</label>
		  <div class="col-sm-8">
		  	<select id="header-size" class="form-control">
		  		<option value="h1">h1</option>
			  	<option value="h2">h2</option>
			  	<option value="h3">h3</option>
			  	<option value="h4">h4</option>
			  	<option value="h5">h5</option>
			  	<option value="h6">h6</option>
		  	</select>
		  </div>
		</div>
	</form>
</div>