<div class="input-group">
  <input type="text" class="form-control" placeholder="Search">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button">
      <i class="fa fa-search"></i>
    </button>
    <button class="btn btn-default" type="button" id="add-new-widget">
      <i class="fa fa-plus"></i>
    </button>
  </span>
</div>