<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
      <h4 class="modal-title" id="myModalLabel">Create New Extension</h4>
    </div>
    <div class="modal-body">
      <form role="form">
        <div class="form-group">
          <label for="exampleInputEmail1">Extension Name</label>
          <input class="form-control" type="text" id="ExtensionName" />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" id="create-new-extension">Create</button>
    </div>
  </div>
</div>
