<div class="panel-heading">
  <h4 class="panel-title" data-toggle="collapse" href="#datasource-controls" data-parent="#toolbox-controls-accordion">Datasource<div class="pull-right"><i class="fa fa-chevron-circle-down"></i></div></h4>
</div>
<div id="datasource-controls" class="panel-collapse collapse">
  <div class="panel-body">
    <div class="list-group cab-list-group" id="datasource-draggable-list">
    </div>
  </div>
</div>