{{#each attributes}}
<a class="list-group-item" data-component="datasource" name="{{this}}" draggable="true" data-control="datasource" data-title="datasource">
	<i class="fa fa-arrows fa-fw"></i> {{this}}
</a>
{{/each}}