<div class="panel-body">
  <form class="form-horizontal cab-form" role="form">
		<div class="form-group fixRowForm">
		  <label for="" class="col-sm-4 control-label">Alert Type</label>
		  <div class="col-sm-8">
		    <select class="form-control input-sm" placeholder="" id="alert-type">
		    	<option value="alert-success">success</option>
		    	<option value="alert-info">info</option>
		    	<option value="alert-warning">warning</option>
		    	<option value="alert-danger">danger</option>
		    </select>
		  </div>
		</div>
	</form>
</div>