<div class="container-fluid">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="cab-logo pull-left" href="#dashboard"></a>
      <ul class="nav navbar-nav">
        <li><a href="#" class="navbar-brand" id="project-name">Create New Project</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog fa-lg"></i> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Theme</a></li>
            <li><a href="#" id="projectDatasource">Datasource</a></li>
            <li><a class="bypass-router" id="datasource" href="#">Datasource Mashable</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Close Project</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <ul class="nav navbar-nav nav-tabs" id="designer-tabs">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="cab-avatar dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="http://placehold.it/36"> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#" id="theme-light">Light Theme</a></li>
            <li><a href="#" id="theme-dark">Dark Theme</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        </li>
    </ul>
  </nav>
</div>
