<div class="panel-body">
  <form class="form-horizontal cab-form" role="form">
		<div class="form-group fixRowForm">
		  <label for="" class="col-sm-4 control-label">Button Type</label>
		  <div class="col-sm-8">
		    <select class="form-control input-sm" placeholder="" id="buttongroup-type">
		    	<option value="btn-default">default</option>
		    	<option value="btn-success">success</option>
		    	<option value="btn-primary">primary</option>
		    	<option value="btn-info">info</option>
		    	<option value="btn-warning">warning</option>
		    	<option value="btn-danger">danger</option>
		    </select>
		  </div>
		</div>
		<div class="form-group fixRowForm">
		  <label for="" class="col-sm-4 control-label">Button Size</label>
		  <div class="col-sm-8">
		    <select class="form-control input-sm" placeholder="" id="buttongroup-size">
		    	<option value="btn-xs">extra small</option>
          <option value="btn-sm">small</option>
		    	<option value="btn-md">medium</option>
		    	<option value="btn-lg">large</option>
		    </select>
		  </div>
		</div>
		<div class="form-group fixRowForm">
		  <label for="" class="col-sm-4 control-label">Vertical Variation</label>
		  <div class="col-sm-8">
		    <label class="checkbox-inline">
		      <input type="checkbox" value="option1" id="buttongroup-vertical"> buttons appear vertically
		    </label>
		  </div>
		</div>
    <div class="form-group fixRowForm">
		  <label for="" class="col-sm-4 control-label">Justified Buttons</label>
		  <div class="col-sm-8">
		    <label class="checkbox-inline">
		      <input type="checkbox" value="option1" id="buttongroup-justified"> stretch at equal sizes
		    </label>
		  </div>
		</div>
	</form>
</div>