<div class="panel-group cab-accordion dark" id="toolbox-controls-accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" href="#common-controls" data-parent="#toolbox-controls-accordion">HTML Controls<div class="pull-right"><i class="fa fa-chevron-circle-down"></i></div></h4>
    </div>
    <div id="common-controls" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="list-group cab-list-group">
          <a class="list-group-item" data-component="common-label" draggable="true" data-control="label" data-title="Label"><i class="fa fa-arrows fa-fw"></i> Label</a>
          <a class="list-group-item" data-component="common-heading" draggable="true" data-control="header" data-title="Heading"><i class="fa fa-arrows fa-fw"></i> Heading </a>
          <a class="list-group-item" data-component="common-badge" draggable="true" data-control="badge" data-title="Badge"><i class="fa fa-arrows fa-fw"></i> Badge</a>
          <a class="list-group-item" data-component="common-paragraph" draggable="true" data-control="paragraph" data-title="Paragraph"><i class="fa fa-arrows fa-fw"></i> Paragraph</a>
          <a class="list-group-item" data-component="common-small-text" draggable="true" data-control="small" data-title="Small Text"><i class="fa fa-arrows fa-fw"></i> Small Text</a>
          <a class="list-group-item" data-control="grid" data-component="common-table" draggable="true" data-title="Table"><i class="fa fa-arrows fa-fw"></i> Table</a>
          <a class="list-group-item" data-component="common-image" draggable="true" data-control="image" data-title="Image"><i class="fa fa-arrows fa-fw"></i> Image</a>
          <a class="list-group-item" data-component="common-div" draggable="true" data-control="div" data-title="Div"><i class="fa fa-arrows fa-fw"></i> Div</a>
          <a class="list-group-item" data-component="common-row" draggable="true" data-control="row" data-title="Row"><i class="fa fa-arrows fa-fw"></i> Row</a>
          <a class="list-group-item" data-component="common-tabs" draggable="true" data-control="tabs" data-title="Tabs"><i class="fa fa-arrows fa-fw"></i> Tabs</a>
          <a class="list-group-item" data-component="common-well" draggable="true" data-control="well" data-title="Well"><i class="fa fa-arrows fa-fw"></i> Well</a>
          <a class="list-group-item" data-component="common-data-container" draggable="true" data-control="data_container" data-title="Container"><i class="fa fa-arrows fa-fw"></i> Data Container</a>
          <a class="list-group-item" data-component="common-spacer" draggable="true" data-control="spacer" data-title="Spacer"><i class="fa fa-arrows fa-fw"></i> Spacer</a>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" href="#form-controls" data-parent="#toolbox-controls-accordion">Form Controls<div class="pull-right"><i class="fa fa-chevron-circle-down"></i></div></h4>
    </div>
    <div id="form-controls" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="list-group cab-list-group">
          <a class="list-group-item" data-component="input-text" data-control="input" draggable="true" data-title="Input"><i class="fa fa-arrows fa-fw"></i> Input</a>
          <a class="list-group-item" data-component="input-textarea" data-control="textarea" draggable="true" data-title="Textarea"><i class="fa fa-arrows fa-fw"></i> Textarea</a>
          <a class="list-group-item" data-component="input-checkbox" data-control="checkbox" draggable="true" data-title="Checkbox"><i class="fa fa-arrows fa-fw"></i> Checkbox</a>
          <a class="list-group-item" data-component="input-radio" draggable="true" data-control="radio" data-title="Radio"><i class="fa fa-arrows fa-fw"></i> Radio Button</a>
          <a class="list-group-item" data-component="input-select" data-control="select" draggable="true" data-title="Select"><i class="fa fa-arrows fa-fw"></i> Select</a>
          <a class="list-group-item" data-component="input-country" data-control="country" draggable="true" data-title="Country"><i class="fa fa-arrows fa-fw"></i> Country</a>
          <a class="list-group-item" data-component="input-button" draggable="true" data-control="button" data-title="Button"><i class="fa fa-arrows fa-fw"></i> Button</a>
          <a class="list-group-item" data-component="input-button" draggable="true" data-control="buttongroup" data-title="Button Group"><i class="fa fa-arrows fa-fw"></i> Button Group</a>
          <a class="list-group-item" data-component="input-inputgroup" draggable="true" data-control="inputgroup" data-title="Input Group"><i class="fa fa-arrows fa-fw"></i> Input Group</a>
          <a class="list-group-item" data-component="input-boolean" draggable="true" data-control="boolean" data-title="Input Boolean"><i class="fa fa-arrows fa-fw"></i> Boolean Control</a>
          <a class="list-group-item" data-component="input-custom" data-control="custom" draggable="true" data-title="Input Custom"><i class="fa fa-arrows fa-fw"></i> Custom Form</a>
          <a class="list-group-item" data-component="button-dropdown" data-control="button_dropdown" draggable="true" data-title="Button Dropdown"><i class="fa fa-arrows fa-fw"></i> Button Dropdown</a>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" href="#miscellaneous-controls" data-parent="#toolbox-controls-accordion">Miscellaneous<div class="pull-right"><i class="fa fa-chevron-circle-down"></i></div></h4>
    </div>
    <div id="miscellaneous-controls" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="list-group cab-list-group">
          <a class="list-group-item" data-component="misc-alert" draggable="true" data-control="alert" data-title="Alert"><i class="fa fa-arrows fa-fw"></i> Alert</a>
          <a class="list-group-item" data-component="misc-chart" draggable="true" data-control="chart" data-title="Chart"><i class="fa fa-arrows fa-fw"></i> Chart</a>
          <a class="list-group-item" data-component="misc-accordion" draggable="true" data-control="accordion" data-title="Accordion"><i class="fa fa-arrows fa-fw"></i> Accordion</a>
          <a class="list-group-item" data-component="misc-timeline" draggable="true" data-control="timeline" data-title="Timeline"><i class="fa fa-arrows fa-fw"></i> Timeline</a>
          <a class="list-group-item" data-component="misc-carousel" draggable="true" data-control="carousel" data-title="Carousel"><i class="fa fa-arrows fa-fw"></i> Carousel</a>
          <a class="list-group-item" data-component="misc-repeater" draggable="true" data-control="repeater" data-title="Repeater"><i class="fa fa-arrows fa-fw"></i> Repeater</a>
          <a class="list-group-item" data-component="misc-customfield" draggable="true" data-control="customfield" data-title="Custom Field"><i class="fa fa-arrows fa-fw"></i> Custom Fields</a>
          <a class="list-group-item" data-component="misc-wizard" draggable="true" data-control="wizard" data-title="Wizard"><i class="fa fa-arrows fa-fw"></i> Wizard</a>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default" id="datasource-accordion">
  </div>
</div>
<div id="control-popover-content" class="hidden">
  <div data-ctrl="label">
    <label class="control-label">Label</label>
  </div>
  <div data-ctrl="header">
    <h3>Heading</h3>
  </div>
  <div data-ctrl="badge">
    <span class="badge">42</span>
  </div>
  <div data-ctrl="paragraph">
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
  </div>
  <div data-ctrl="small">
    <p><small>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</small></p>
  </div>
  <div data-ctrl="grid">
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div data-ctrl="image">
    <img src="http://placehold.it/350x150&text=Image" class="img-responsive img-thumbnail">
  </div>
  <div data-ctrl="div">
    <div style="border:dashed 1px #CCC;padding:10px;text-align:center">DIV</div>
  </div>
  <div data-ctrl="row">
    <div class="row fixRow">
      <div class="col col-sm-6">
        <div style="border:dashed 1px #CCC;padding:5px;text-align:center">Column</div>
      </div>
      <div class="col col-sm-6">
        <div style="border:dashed 1px #CCC;padding:5px;text-align:center">Column</div>
      </div>
    </div>
  </div>
  <div data-ctrl="tabs">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">Tab 1</a></li>
      <li><a href="#profile" data-toggle="tab">Tab 2</a></li>
      <li><a href="#messages" data-toggle="tab">Tab 3</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="home">...</div>
      <div class="tab-pane" id="profile">...</div>
      <div class="tab-pane" id="messages">...</div>
    </div>
  </div>
  <div data-ctrl="well">
    <div class="well">
      Look, I'm in a well!
    </div>
  </div>
  <div data-ctrl="container">
    <div style="border:dashed 1px #CCC;padding:10px;text-align:center">Container</div>
  </div>
  <div data-ctrl="spacer">
    <div style="background:#EEE;padding:10px;width:100%;height:30px;"></div>
  </div>
  <div data-ctrl="input">
    <input type="text" class="form-control" placeholder="Text Input">
  </div>
  <div data-ctrl="textarea">
    <textarea class="form-control" rows="3"></textarea>
  </div>
  <div data-ctrl="checkbox">
    <div class="checkbox">
      <label> <input type="checkbox" value=""> Checkbox</label>
    </div>
  </div>
  <div data-ctrl="radio">
    <label class="checkbox-inline"><input type="checkbox" id="inlineCheckbox1" value="option1"> Radio</label>
  </div>
  <div class="select">
    <select class="form-control">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div data-ctrl="button">
    <button type="button" class="btn btn-primary btn-block">Button</button>
  </div>
  <div data-ctrl="buttongroup">
    <div class="btn-group">
      <button type="button" class="btn btn-default">Left</button>
      <button type="button" class="btn btn-default">Middle</button>
      <button type="button" class="btn btn-default">Right</button>
    </div>
  </div>
  <div data-ctrl="inputgroup">
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input type="text" class="form-control">
      <span class="input-group-addon">.00</span>
    </div>
  </div>
  <div data-ctrl="boolean">
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-success btn-sm">
        <input type="radio" name="options" id="option1"> <i class="fa fa-check" style="color:#FFF;"></i>
      </label>
      <label class="btn btn-default btn-sm">
        <input type="radio" name="options" id="option2"> <i class="fa fa-times"></i>
      </label>
    </div>
  </div>
  <div data-ctrl="alert">
    <div class="alert alert-success">
      <strong>Well done!</strong> You successfully read this important alert message.
    </div>
  </div>
  <div data-ctrl="accordion">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              Collapsible Group Item #1
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              Collapsible Group Item #2
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              Collapsible Group Item #3
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-ctrl="timeline"></div>
  <div data-ctrl="carousel">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <img src="http://placehold.it/350x150&text=Image" alt="">
        </div>
        <div class="item">
          <img src="http://placehold.it/350x150&text=Image" alt="">
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>  
  </div>
  <div data-ctrl="button-dropdown">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Action <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
  <div data-ctrl="repeater"></div>
  <div data-ctrl="customfield"></div>
  <div data-ctrl="wizard"></div>
</div>
