<div id="text-tool-container" data-toggle="popover">
  <div class="text-tool-container btn-group">
    <a class="btn btn-default" href="#" id="toolbar-bold"><i class="fa fa-bold"></i> </a>
    <a class="btn btn-default" href="#" id="toolbar-italic"><i class="fa fa-italic"></i> </a>
    <a class="btn btn-default" href="#" id="toolbar-underline"><i class="fa fa-underline"></i></a>
    <a class="btn btn-default" href="#" id="toolbar-strikethrough"><i class="fa fa-strikethrough"></i> </a>
    <a class="btn btn-default toolbar-text-align" data-align="center" href="#" id="toolbar-al-center"><i class="fa fa-align-center"></i> </a>
    <a class="btn btn-default toolbar-text-align" data-align="left" href="#" id="toolbar-al-left"><i class="fa fa-align-left"></i> </a>
    <a class="btn btn-default toolbar-text-align" data-align="right" href="#" id="toolbar-al-right"><i class="fa fa-align-right"></i> </a>
    <a class="btn btn-default" href="#" id="toolbar-add-link"><i class="fa fa-link"></i></a>
    <a class="btn btn-default" href="#" id="toolbar-colorpicker-font"><i class="imgcolrpkr-font"></i><i class="fa fa-font"></i></a>
    <a class="btn btn-default" href="#" id="toolbar-colorpicker-border"><i class="imgcolrpkr-border"></i>
    <i class="fa fa-square"></i></a>
    <a class="btn btn-default" href="#" id="toolbar-colorpicker-background"><i class="imgcolrpkr-background"></i>
    <i class="fa fa-square-o"></i></a>
  </div>
</div>
