<div class='panel-body'>
  <form class='form-horizontal cab-form' role='form'>
    <div class='form-group fixRowForm'>
      <label for='' class='col-sm-4 control-label'>ID</label>
      <div class='col-sm-8'>
        <input type='text' class='form-control input-sm' placeholder='' id='structure-id'>
      </div>
    </div>
    <div class='form-group fixRowForm'>
      <label for='' class='col-sm-4 control-label'>Class</label>
      <div class='col-sm-8'>
        <input type='text' class='form-control input-sm' placeholder='' id='structure-class'>
      </div>
    </div>
    <div class='form-group fixRowForm'>
      <label for='' class='col-sm-4 control-label'>Block Element</label>
      <div class='col-sm-8'>
        <label class='checkbox-inline'>
          <input type='checkbox' value='option1' id='structure-block'> Display as block element
        </label>
      </div>
    </div>
    <div class='form-group fixRowForm'>
      <label for='' class='col-sm-4 control-label'>Icon</label>
      <div class='col-sm-8'>
        <div class='input-group'>
          <input type='text' class='form-control input-sm' id='structure-icon-class'>
          <span class='input-group-btn'>
            <button class='btn btn-default btn-sm' type='button' id='structure-icon-browse'><i class='fa fa-search'></i></button>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>