<div class="panel-body">
  <form class="form-horizontal cab-form" role="form">
  	<div class="form-group fixRowForm">
		  <label for="" class="col-sm-4 control-label">Lead Body</label>
		  <div class="col-sm-8">
		    <label class="checkbox-inline">
		      <input type="checkbox" value="option1" id="paragraph-lead"> make it standout
		    </label>
		  </div>
		</div>
		<div class="form-group fixRowForm">
		  <label for="" class="col-sm-4 control-label">Color</label>
		  <div class="col-sm-8">
		    <select class="form-control input-sm" placeholder="" id="paragraph-color">
		    	<option value="text-default">default</option>
          <option value="text-muted">muted</option>
		    	<option value="text-success">success</option>
		    	<option value="text-primary">primary</option>
		    	<option value="text-info">info</option>
		    	<option value="text-warning">warning</option>
		    	<option value="text-danger">danger</option>
		    </select>
		  </div>
		</div>
    <div class="form-group fixRowForm">
		  <label for="" class="col-sm-4 control-label">BG Color</label>
		  <div class="col-sm-8">
		    <select class="form-control input-sm" placeholder="" id="paragraph-bgcolor">
		    	<option value="bg-default">default</option>
          <option value="bg-default">muted</option>
		    	<option value="bg-success">success</option>
		    	<option value="bg-primary">primary</option>
		    	<option value="bg-info">info</option>
		    	<option value="bg-warning">warning</option>
		    	<option value="bg-danger">danger</option>
		    </select>
		  </div>
		</div>
	</form>
</div>