  <div class="panel-heading cab-panel-heading">
  	<!-- Left panel Heading -->
  </div>
  <div class="cab-panel-heading-tab">
    <ul class="nav nav-tabs cab-nav-tabs nav-justified">
      <li class="active"><a href="#module-project" data-toggle="tab"><span class="hidden-lg"><i class="fa fa-list-alt"></i></span> <span class="visible-lg">Project</span></a></li>
      <li><a href="#module-widgets" data-toggle="tab"><span class="hidden-lg"><i class="fa fa-puzzle-piece"></i></span> <span class="visible-lg">Widgets</span></a></li>
      <li><a href="#module-core" data-toggle="tab"><span class="hidden-lg"><i class="fa fa-circle"></i></span> <span class="visible-lg">Core</span></a></li>
    </ul>
  </div>
	<div class="clearfix"></div>
  <div class="panel-body cab-panel-body">
    <div class="tab-content">
      <div class="tab-pane active" id="module-project">
      </div>
      <div class="tab-pane" id="module-widgets">
        <div id="module-widgets-options"></div>
        <div id="module-widgets-library"></div>
      </div>
      <div class="tab-pane active" id="module-core">
      </div>
    </div>
  </div>
